{% extends "::baseProfil.html.twig" %}
 	
 	{% block header %}
	
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
		{{parent()}}
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
		<link rel="stylesheet" href="{{asset('ress/css/fullcalendar.css')}}" />  
		<link rel="stylesheet" href="{{asset('ress/css/calendar.css')}}" /> 
		<link rel='stylesheet' href="{{asset('ress/css/fullcalendar.print.css')}}"media='print' />  
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap-datetimepicker.min.css')}}" /> 


		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{asset('ress/js/fullcalendar.js')}}" > </script> 
		<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>
		<script src="{{asset('ress/js/bootstrap-datetimepicker.min.js')}}" > </script>
		<script src="{{asset('ress/js/bootstrap-datetimepicker.fr.js')}}" > </script>
		<script src="{{asset('ress/js/fr.js')}}" > </script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script> 
	 
	      
	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_3 header_tab" style="display: block;">
			<div class="title_tab title_tab_3">Planning des Sessions </div>
		</div> 	
	{% endblock %}
	
	{% block menu %}
		{% include "OVTFrontEndProviderBundle:Provider:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %}
	<div class="container_tab_3 container_tab" style="display: block; "> 
		<div class="position_content_tab_3">
			<div class="container_date_calendar">   
			</div>

			<div id="inside_cadre">
				<div class="container_calendar">
					<div id="legende" style="height:20px;padding-bottom:-2px; background-color: #f6f6f6;">
						<div  id="divLegende" >		</div>
					</div>
					<div id='calendar'></div> 
				</div>

				<div id="modalsPopUp">
					<div id="bootstrapModalFullCalendar" ></div>

					<div id="fullCalModal" class="modal hide fade" >
						{% verbatim %}
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
					                <h4 id="modalTitle" class="modal-title"> </h4>
					            </div>
					            <div id="modalBody" class="modal-body">
								<h5> Nom du client : <span id="nomClient"></span></h5>
									<h5  style="float:right"> Description : 
										<textarea class="modal-body" disabled id="sessionDesc"></textarea></h5>
									<h5 > Contexte : <span id="contexteSession"></span></h5>
									<h5> Date de la demande : <span id="dateDemandeSession"></span> </h5>
									<h5> Heure de début :  <span type="date"  id="debutSession"></span></h5>
									<h5> Heure de fin : <span id="finSession"></span></h5>
									<h5> Service :  <span id="serviceSession"></span></h5>
									<br/>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					                <button class="btn btn-primary"><a id="joinUrl" target="_blank" >Joindre</a></button>
					            </div>
					        </div>
					    </div>
					    {% endverbatim %}
					</div> 

					<div class="modal hide modal-static fade"   id="waitingingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-body">
					                <div class="text-center">
					                   <img src="{{asset('img/loader.gif')}}" class="icon" /> 
					                </div>
					            </div>
					        </div>
					    </div>
					</div>

				</div>
			</div>
 			
 			<script type="text/javascript">
 				  
				$(document).ready(function() {
					var id ={{idWorker}};
					//{% verbatim %}
 						var link=Routing.generate('ovt_front_end_provider_retrieve_affected_sessions_to_worker',{idWorker:id}); 
 					//{% endverbatim %}
 					$('#calendar').fullCalendar({
						events:  link ,
						header: {
							left: 'today',
							center: 'prev, title, next'
						},
						buttonIcons:{
							'today':'today',
							'prev':'prev',
							'next':'next'
						},
						businessHours:{
							start: '08:00', 
							end: '19:00',
							dow: [ 0, 1, 2, 3, 4, 5, 6 ]
						},
						
						defaultView: 'agendaWeek',
						scrollTime: '07:00:00',
						selectable: true, 
						eventLimit: true, 
					
						eventClick:  function(event, jsEvent, view) {
				            $('#modalTitle').html(event.title);
				            $('#sessionDesc').html(event.description);
				            $('#nomClient').html(event.client);
				            $('#fullCalModal').modal();
				            $('#contexteSession').html(event.type);
				            $('#dateDemandeSession').html(event.requestDate);
				        	$('#debutSession').html(event.startTime)  ;
				        	$('#finSession').html(event.endTime);
				        	$('#serviceSession').html(event.service);
				        	{% verbatim %}
				        		var toSession= Routing.generate('ovt_services_join',{service:event.service, userType:'worker',hashLink:event.link});
				        	{% endverbatim %} 
				        	if(event.link!="")
				        	$('#joinUrl').attr('href',toSession);
				        },
						  
						loading: function(bool) {
				            if (bool) {
				                $('#waitingingModal').modal('show');
				            } else {
				                $('#waitingingModal').modal('hide');
				            }
				        }
					}); 

				}); 

 			</script>



		</div>
	</div> 
			

	{% endblock %} 