<a href="{{path('ovt_front_end_provider_calendar')}}" >
 	<div class="tab_bar_left tab_bar_left_1  subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="32" height="26" viewBox="0 0 64 53">
			<use xlink:href="{{asset('svg/logo_2.svg')}}#logo_2"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_front_end_provider_my_sessions')}}" >
	<div class="tab_bar_left tab_bar_left_2 subtitle_color_fill">
		<span style="z-index:100;float:right">
			({{render(controller('OVTFrontEndProviderBundle:ProviderAdmin:getPlanifiedSessions'))}})
		</span>
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="26" viewBox="0 0 47 52">
			<use xlink:href="{{asset('svg/logo_4.svg')}}#logo_4"></use>
		</svg>
	</div>
</a>
<!--
<a 	href="{{path('ovt_front_end_provider_archives')}}" >
	<div class="tab_bar_left tab_bar_left_3 subtitle_color_fill">
		<div class="notif_round_tab_bar theme_color_background"></div>
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="33" height="20" viewBox="0 0 66 41">
			<use xlink:href="{{asset('svg/logo_3.svg')}}#logo_3"></use>
		</svg>
	</div>
</a>
-->
<a  href="{{path('ovt_front_end_provider_profile')}}"  > 
	<div class="tab_bar_left tab_bar_left_4 subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="27" viewBox="0 0 48 54">
			<use xlink:href="{{asset('svg/logo_5.svg')}}#logo_5"></use>
		</svg>
	</div>
</a>