{% extends "OVTFrontEndProviderBundle:ProviderAdmin:index.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}

		<div class="cadre" id="tableDemandes" >
			<div class="gestion_title">
				<p  > Gestion des demandes 
				 </p>
				
			</div>
			<div id="inside_cadre">
				  
			</div>
 			
 			<script type="text/javascript">
 			</script>

		</div>


		<div class="cadre" id="detailsDemande" >
			<div class="gestion_title">
				<p  > Details de la demande
				 </p>
				
			</div>
			<div id="inside_cadre">
				  
			</div>
 			
 			<script type="text/javascript">
 			</script>

		</div>
	

	{% endblock %} 