{% extends "::baseProfil.html.twig" %}
 
	{% block header %}
		{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>

	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_4 header_tab" style="display: block;">
			<div class="title_tab title_tab_4">Gestion des demandes  </div>
		</div> 	
	{% endblock %}
	
	{% block menu %}
		{% include "OVTFrontEndProviderBundle:Provider:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %}   
	<div id="wrap" class="container_tab_1 container_tab " ng-app="OVTApp" ng-controller="sessionsCtrl" data-ng-init="init()" >
		<div class="container_notif_rdv">
			<div class="SessionTabbuttons theme_color_background"  ng-click="viewPlanifiees()" >    				 
				Demandes planifiées
			</div>
			<div class="SessionTabbuttons theme_color_background"  ng-click="viewAnnulees()" >
				Demandes annulées 			
			</div>  
			<div class="SessionTabbuttons theme_color_background"  ng-click="viewRefusees()">
				Demandes refusées
			</div> 
		</div>

		<div class="container_historique" style="height:55%">
			<div class="header_container_historique title_color_text">
				<div class="element_header_container_historique element_header_container_historique_date">
					Date Demande
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position active">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
					
				</div><div class="element_header_container_historique element_header_container_historique_name">
					<span class="name_element_1"> Client </span> 
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
				</div> <div class="element_header_container_historique element_header_container_historique_duree">
					<span class="name_element_1"> Intitulé </span> 
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
				</div><div class="element_header_container_historique element_header_container_historique_canal">
					<span class="name_element_1">Service</span> 
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
				</div><div class="element_header_container_historique element_header_container_historique_date">
					Debut 
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position active">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
					
				</div><div class="element_header_container_historique element_header_container_historique_date">
					Fin
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position active">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
					
				</div><div class="element_header_container_historique element_header_container_historique_commentaire">
					Description
					<div class="container_arrow_element_heade_historique">
						<div class="container_arrow_element_heade_historique_position">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
								<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
							</svg>
						</div>
					</div>
				</div> 
			</div>

			<!-- SEPARATOR --> 
			<!-- Begin list sessions -->
			<div id="sessionElementsTab">
			<div id="tablePlanifees"  ng-show="!atraiterFlag && planifieesFlag && !annuleesFlag && !refuseesFlag ">
				{{render(controller('OVTFrontEndProviderBundle:Provider:getSessionsByState',{state:'ACCEPTED'})) }}
			</div>

			<div id="tableAnnulees" ng-show="!atraiterFlag && !planifieesFlag && annuleesFlag && !refuseesFlag ">
				{{render(controller('OVTFrontEndProviderBundle:Provider:getSessionsByState',{state:'CANCELED'})) }}
			</div>

			<div id="tableARefusees"   ng-show="!atraiterFlag && !planifieesFlag && !annuleesFlag && refuseesFlag ">
				{{render(controller('OVTFrontEndProviderBundle:Provider:getSessionsByState',{state:'REFUSED'})) }}
			</div>
			</div> 
			<!-- end list sessions -->
		</div>

		<!-- SEPARATOR -->
		<div class="container_middle_historique" style="height:5%; margin-top:15px;margin-bottom:10px;">
			<div class="bar_container_middle_historique subtitle_color_background_08"></div>
			<div class="div_historique subtitle_color_text">DETAILS</div>
		</div> 

		<!--- DETAILS -->
		<div class="container_info_details"> 
			<div id="apercuPlanifiees" ng-show="!firstload && planifieesFlag && !loading">
				<div class="SessionTabbuttons theme_color_background" ng-click="refuse(session.id)" >
					REFUSER
				</div>
				<div class="SessionTabbuttons theme_color_background" ng-click="cancel(session.id)" >
					ANNULER
				</div> 
			</div>
			<div id="apercuAnnulees" ng-show="!firstload && annuleesFlag && !loading">
				<div class="SessionTabbuttons theme_color_background" ng-click="delete(session.id)" >
					SUPPRIMER
				</div>    
			</div>
			<div id="apercuRefusees" ng-show="!firstload && refuseesFlag && !loading">
				<div class="SessionTabbuttons theme_color_background" ng-click="delete(session.id)" >
					SUPPRIMER
				</div>
				<div class="SessionTabbuttons theme_color_background" ng-click="restaure(session.id)" >
					RESTAURER
				</div>  
			</div>

			{% verbatim %}
			<div id="sessionDetails" ng-show="atraiterFlag || planifieesFlag || annuleesFlag || refuseesFlag  ">
				<div class="column_1_tab_4 column_tab_4_style">
					<div class="container_info_editable_user_style">
						<div class="content_info_editable_user_style title_color_text">{{session.client}}</div>
						<div class="name_info_editable_user_style subtitle_color_text">Client</div>
					</div>
					<div class="container_info_editable_user_style">
						<div class="content_info_editable_user_style title_color_text">{{session.title}}</div>
						<div class="name_info_editable_user_style subtitle_color_text">Intitulé</div>
					</div>
					<div class="container_info_editable_user_style">
						<div class="content_info_noneditable_user_style title_color_text">{{session.type}}</div>
						<div class="name_info_editable_user_style subtitle_color_text">Contexte</div>
					</div>
					<div class="container_info_editable_user_style">
						<div class="content_info_editable_user_style title_color_text">
							{{session.requestDate}}</div>
						<div class="name_info_editable_user_style subtitle_color_text">Demande</div>
					</div> 
				</div>
				<div class="column_2_tab_4 column_tab_4_style">
					<div class="container_info_editable_user_style">
						<div class="content_info_editable_user_style title_color_text">{{session.startTime}}</div>
						<div class="name_info_editable_user_style subtitle_color_text">Début</div>
					</div>
					<div class="container_info_editable_user_style">
						<div class="content_info_editable_user_style title_color_text">{{session.endTime}}</div>
						<div class="name_info_editable_user_style subtitle_color_text">Fin</div>
					</div>
					<div class="container_info_editable_user_style">
						<div class="content_info_editable_user_style title_color_text">
							<textarea disabled>{{session.description}}</textarea>
						</div>
						<div class="name_info_editable_user_style subtitle_color_text">Détails</div>
					</div>
				</div>
			</div>				
			{% endverbatim %}
		</div>

 		<div class="modal hide modal-static fade"   id="waitingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		                <div class="text-center">
		                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
		                    <h4>Veuillez patienter... </h4>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>	
  
		
		<script type="text/javascript">
			var app = angular.module('OVTApp', []);
			
			app.controller('sessionsCtrl', function($scope,$http,$location,$window) {
				
				$scope.init = function (){
					$scope.loading = false; $('#waitingModal').modal('hide');
					$scope.firstload=true;
					//flags
					$scope.atraiterFlag   = false;
					$scope.planifieesFlag = true;
					$scope.annuleesFla    = false;
					$scope.refuseesFlag   = false;
					
				}

				$scope.setSelectedSession= function(idsession){
					$scope.firstload=false;
					$scope.loading = true; $('#waitingModal').modal('show');
		   			{% verbatim %} var link=Routing.generate('ovt_front_end_admin_provider_get_session_by_id', {id:idsession}); {% endverbatim %}
		   			$http.get(link).
				  	success(function(data, status, headers, config) {
					    $scope.session=data;
					    $scope.loading = false; $('#waitingModal').modal('hide');

				  	}).
				 	error(function(data, status, headers, config) { });
				}

				$scope.viewATraiter= function (){
					$scope.atraiterFlag=true;
					$scope.planifieesFlag=false;
					$scope.annuleesFlag=false;
					$scope.refuseesFlag=false;
					$scope.firstload=true;
				}

				$scope.viewPlanifiees= function (){
					$scope.atraiterFlag=false;
					$scope.planifieesFlag=true;
					$scope.annuleesFlag=false;
					$scope.refuseesFlag=false;
					$scope.firstload=true;
				}

				$scope.viewAnnulees= function (){
					$scope.atraiterFlag=false;
					$scope.planifieesFlag=false;
					$scope.annuleesFlag=true;
					$scope.refuseesFlag=false;
					$scope.firstload=true;
				}

				$scope.viewRefusees= function (){
					$scope.atraiterFlag=false;
					$scope.planifieesFlag=false;
					$scope.annuleesFlag=false;
					$scope.refuseesFlag=true;
					$scope.firstload=true;
				}

				$scope.refuse = function(idsession){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'refuse'});
		   			{% endverbatim %}
					$scope.loading = true; $('#waitingModal').modal('show');
					var confirmation = confirm("Voulez vraiment refuser cette réunion ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idSession="+idsession,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {
					  		alert("Refus mené avec succès ! ");
					     	$window.location.href=Routing.generate('ovt_front_end_provider_my_sessions'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Refus échoué !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		$scope.accept = function(idsession){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'accept'});
		   			{% endverbatim %}
					$scope.loading = true; $('#waitingModal').modal('show');
					var confirmation = confirm("Voulez vraiment accepter cette réunion ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idSession="+idsession,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {
					  		alert("Acceptation menée avec succès ! ");
					     	$window.location.href=Routing.generate('ovt_front_end_provider_my_sessions'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Acceptation échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		$scope.delete = function(idsession){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'delete'});
		   			{% endverbatim %}
					$scope.loading = true; $('#waitingModal').modal('show');
					var confirmation = confirm("Voulez vraiment supprimer cette réunion ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idSession="+idsession,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {
					  		alert("Suppression menée avec succès ! ");
					     	$window.location.href=Routing.generate('ovt_front_end_provider_my_sessions'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Suppression  échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		$scope.restaure = function(idsession){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'restaure'});
		   			{% endverbatim %}
					$scope.loading = true; $('#waitingModal').modal('show');
					var confirmation = confirm("Voulez vraiment restaurer cette réunion ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idSession="+idsession,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {
					  		alert("Restauration menée avec succès ! ");
					     	$window.location.href=Routing.generate('ovt_front_end_provider_my_sessions'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Restauration  échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		$scope.cancel = function(idsession){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'cancel'});
		   			{% endverbatim %}
					$scope.loading = true; $('#waitingModal').modal('show');
					var confirmation = confirm("Voulez vraiment annuler cette réunion ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idSession="+idsession,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {
					  		alert("Annulation menée avec succès ! ");
					     	$window.location.href=Routing.generate('ovt_front_end_provider_my_sessions'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Annulation  échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}
			});
		</script>

	</div>
		

	
	
	{% endblock %} 