{% extends "::baseProfil.html.twig" %}
 	
 	{% block header %}
		{{parent()}}
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
		<link rel="stylesheet" href="{{asset('ress/css/fullcalendar.css')}}" />  
		<link rel="stylesheet" href="{{asset('ress/css/calendar.css')}}" /> 
		<link rel='stylesheet' href="{{asset('ress/css/fullcalendar.print.css')}}"media='print' />  
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap-datetimepicker.min.css')}}" /> 


		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{asset('ress/js/fullcalendar.js')}}" > </script> 
		<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>
		<script src="{{asset('ress/js/bootstrap-datetimepicker.min.js')}}" > </script>
		<script src="{{asset('ress/js/bootstrap-datetimepicker.fr.js')}}" > </script>
		<script src="{{asset('ress/js/fr.js')}}" > </script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script> 
	 
	      
	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_3 header_tab" style="display: block;">
			<div class="title_tab title_tab_3">	Calendrier </div>
		</div> 	
	{% endblock %}
	{% block menu %}
		{% include "OVTFrontEndClientBundle:ClientAdmin:menuNew.html.twig" %}
	{% endblock %}

{% block containerTab %}
		<div class="container_tab_3 container_tab" style="display: block;"> 
			<div class="position_content_tab_3">
				<div class="container_date_calendar">  
					<div class="img_container_in_tab_1 img_container_in_tab_1_right"></div>
					<div class="container_create_rdv_date_calendar theme_color_background" id="newManualSession" >Nouvelle Demande 
						<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="6" height="10" viewBox="0 0 11 19" class="white_fill">
							<use xlink:href="{{asset('svg/arrow_right.svg#arrow_right')}}"></use>
						</svg>
					</div>
				</div>
				<div class="" >
					<div id="inside_cadre"  >
						<div class="container_calendar">
							<div id="legende" style="height:20px;padding-bottom:-2px; background-color: #f6f6f6;">
								<div  id="divLegende" >		</div>
							</div>
							<div id='calendar'></div> 
						</div> 
						<div id="modalsPopUp">
							<div id="fullCalModal" class="modal hide fade"  >
							    {% verbatim %}
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
							                <h4 id="modalTitle" class="modal-title"> </h4>
							            </div>
							            <div id="modalBody" class="modal-body">
										<h5> Nom du client : <span id="nomClient"></span></h5>
											<h5  style="float:right"> Description : 
												<textarea class="modal-body" disabled id="sessionDesc"></textarea></h5>
											<h5 > Contexte : <span id="contexteSession"></span></h5>
											<h5> Date de la demande : <span id="dateDemandeSession"></span> </h5>
											<h5> Heure de début :  <span type="date"  id="debutSession"></span></h5>
											<h5> Heure de fin : <span id="finSession"></span></h5>
											<h5> Service :  <span id="serviceSession"></span></h5>
											<br/>
							            </div>
							            <div class="modal-footer">
							                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							                <button class="btn btn-primary"><a id="joinUrl" target="_blank" >Joindre</a></button>
							            </div>
							        </div>
							    </div>
							    {% endverbatim %}
							</div>

							<div id="addSessionModal"  class="modal hide fade"  >
							    
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
							                <h4  class="modal-title"> Ajouter une demande de réservation</h4>
							            </div>
							           	<form action="{{path('ovt_front_end_client_session_new')}}" role="form" method="post"  >
											<div  class="modal-body" >
										 		<div class="form-group">

												    <label class="control-label col-sm-2" for="title">Intitulé</label>

												    <div class="col-sm-10">

												      <input type="text" class="form-control" name="title" placeholder="titre de la réunion">

												    </div>

												</div>
												<div class="form-group" >
												 	<label class="control-label col-sm-2" for="type">Type </label>
												 	<div class="col-sm-10">

												 		<select class="form-control" name="type">
													 		<option value="simple" >Simple</option> 
													 	</select>
													</div>
												</div>
 												
 												<div class="form-group" id="serviceSelectDiv" >
												 	<label class="control-label col-sm-2" for="service">Service</label>
												 	<div class="col-sm-10">
												 		<select class="form-control" id="serviceSelect" name="service">		<option disabled selected > choisir service </option>
												 			{% for s in client.authorizedServices %}
													 			<option value="{{s.id}}"> {{s.name}} </option>
													 		{% endfor %}
												 		</select>
												 	</div>
												</div>

												<div class="form-group" id="orgSelectDiv" >
												 	<label class="control-label col-sm-2" for="organisation">Organisation cible</label>
												 	<div class="col-sm-10">				 		
														<select  id="orgSelect" class="form-control" name="provider">  
												 		</select>
												 	</div> 
												</div>
												
												<div class="form-group" >
												 	<label class="control-label col-sm-2" for="description">Détails</label>
												 	<div class="col-sm-10">				 		
														<textarea class="form-control" name="description"></textarea>
												 	</div>
												</div>
												<div class="form-group">
												 	<label class="control-label col-sm-2" for="starttime">Date de début</label>
													<div class="col-sm-10">
														<div class="well">
														  	<div id="starttimepicker" class="input-append date">
														    	<input class="form-control" name="starttime"data-format="dd-MM-yyyy hh:mm:ss" type="text"></input>
														    	<span class="add-on">
														      		<i data-time-icon="icon-time" data-date-icon="icon-calendar">
														      		</i>
														    	</span>
														  	</div>
														  	<input   name="starttimeBK"    type="hidden"></input>
														    	
														</div>
													</div>
												</div>
												<div class="form-group">
												 	<label class="control-label col-sm-2" for="endtime">Date de fin</label>
													<div class="col-sm-10">
														<div class="well">
														  	<div id="endtimepicker" class="input-append date">
														    	<input class="form-control" name="endtime"data-format="dd-MM-yyyy hh:mm:ss" type="text"></input>
														    	<span class="add-on">
														      		<i data-time-icon="icon-time" data-date-icon="icon-calendar">
														      		</i>
														    	</span>
														  	</div>
														  	<input   name="endtimeBK"    type="hidden"></input>
														    	
														</div>
													</div>
												</div>
										 	
							            </div>
							            <div class="modal-footer">
							            	<input   name="BK"    type="hidden" value="off"></input>
							                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
							                <button class="btn btn-primary"> Envoyer </button>
							            </div></form>
							        </div>
							    </div> 
							</div>

							<div class="modal hide modal-static fade"   id="waitingingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-body">
							                <div class="text-center">
							                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
							                    <h4>Veuillez patienter... </h4>
							                </div>
							            </div>
							        </div>
							    </div>
							</div>

						</div>
			 		</div>


					<script type="text/javascript">
						$(document).ready(function() {
							
							function resetModal(){
								$('#starttimepicker').datetimepicker('setDate', '');
								$('#endtimepicker').datetimepicker('setDate', ''); 
								$('#starttimepicker').datetimepicker('enable');
								$('#endtimepicker').datetimepicker('enable');
							}


							$('#starttimepicker').datetimepicker({
						     	language: 'fr' ,
						     	inline: true,
			            		sideBySide: true
						    });
							$('#endtimepicker').datetimepicker({
						     	language: 'fr' ,
						     	inline: true,
			            		sideBySide: true
						    });

						     
							var id ={{idClient}};
							var link=Routing.generate('ovt_front_end_client_retrieve_client_sessions',{idClient:id}); 
							console.log(link);
							$('#calendar').fullCalendar({
								events:  link ,
								header: {
									left: 'today',
									center: 'prev, title, next'
								},
								businessHours:{
									start: '08:00', 
									end: '19:00',
									dow: [ 0, 1, 2, 3, 4, 5, 6 ]
								},
								
								defaultView: 'agendaWeek',
								scrollTime: '07:00:00',
								selectable: true, 
								eventLimit: true, 
							
								eventClick:  function(event, jsEvent, view) {
						            $('#modalTitle').html(event.title);
						            $('#sessionDesc').html(event.description);
						            $('#nomClient').html(event.client);
						            $('#fullCalModal').modal();
						            $('#contexteSession').html(event.type);
						            $('#dateDemandeSession').html(event.requestDate);
						        	$('#debutSession').html(event.startTime)  ;
						        	$('#finSession').html(event.endTime);
						        	$('#serviceSession').html(event.service);
						        	{% verbatim %}
						        		var toSession= Routing.generate('ovt_services_velotypie_join',{userType:'client',hashLink:event.link});
						        	{% endverbatim %}
						        	if(event.link!="")
						        	$('#joinUrl').attr('href',toSession);
						        },
								 
								select : function( start, end, jsEvent, view ) {
									resetModal();

									var startTime = start.format('DD-MM-YYYY H:mm:ss ');
									var endTime = end.format('DD-MM-YYYY H:mm:ss ');
									$('#starttimepicker').datetimepicker('setDate', startTime);
									$('#endtimepicker').datetimepicker('setDate', endTime); 
									$('#starttimepicker').datetimepicker('disable');
									$('#endtimepicker').datetimepicker('disable');
									$("input[name='BK' ").val('on');
									$("input[name='starttimeBK' ").val(startTime); 
									$("input[name='endtimeBK' ").val(endTime); 
									$('#addSessionModal').modal('show');
									console.log(startTime+' \n '+endTime);
								},
								loading: function(bool) {
						            if (bool) {
						                $('#waitingingModal').modal('show');
						            } else {
						                $('#waitingingModal').modal('hide');
						            }
						        }
							});
							 
							 var linknew=Routing.generate('ovt_front_end_client_session_new'); 
							 $('#newManualSession').click(function(){
							 	resetModal();
							 	$('#addSessionModal').modal('show');
							 })

							
							$('#serviceSelectDiv').change(function(){
								$( "#orgSelectDiv" ).hide(); 
								$('#waitingingModal').modal('show');  
								var val =$("#serviceSelect").val();
								var slink=Routing.generate('ovt_front_end_client_get_orgs_by_service',{serviceId:val});
								$.get( slink, function( data ) {
									console.log(data);
									$( "#orgSelect" ).html( data );
									$('#waitingingModal').modal('hide');
									$("#orgSelectDiv" ).show();
								});
							});


						});  

					</script>
				</div>
			</div>
		</div>
	{% endblock %}