<a href="{{path('ovt_front_end_client_calendar')}}" >
 	<div class="tab_bar_left tab_bar_left_1  subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="32" height="26" viewBox="0 0 64 53">
			<use xlink:href="{{asset('svg/logo_2.svg')}}#logo_2"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_front_end_client_list_sessions')}}" >
	<div class="tab_bar_left tab_bar_left_2 subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="26" viewBox="0 0 47 52">
			<use xlink:href="{{asset('svg/logo_4.svg')}}#logo_4"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_front_end_client_document')}}" >
	<div class="tab_bar_left tab_bar_left_3 subtitle_color_fill">
		<div class="notif_round_tab_bar theme_color_background"></div>
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="50" height="30" viewBox="0 0 20 30">
			<use xlink:href="{{asset('svg/logo_fichiers.svg')}}#logo_fichiers"></use>
		</svg>
	</div>
</a>

<a   href="{{path('ovt_front_end_client_profile')}}"  > 
	<div class="tab_bar_left tab_bar_left_4 subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="27" viewBox="0 0 48 54">
			<use xlink:href="{{asset('svg/logo_5.svg')}}#logo_5"></use>
		</svg>
	</div>
</a>


<div class="tab_bar_left   subtitle_color_fill ">
	--- ADMINISTRATION ---
</div>

<a  href="{{path('ovt_front_end_admin_client_users')}}"  > 
	<div class="tab_bar_left   subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="27" viewBox="0 0 48 54">
			<use xlink:href="{{asset('svg/logo_add_people.svg')}}#logo_add_people"></use>
		</svg>
	</div>
</a>
<!--
<a   href="{{path('ovt_front_end_admin_client_group')}}"  > 
	<div class="tab_bar_left  subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="27" viewBox="0 0 64 53">
			<use xlink:href="{{asset('svg/cloud.svg')}}#cloud"></use>
		</svg>
	</div>
</a>
-->