{% extends "::baseProfil.html.twig" %}
 
	{% block header %}
		{{parent()}}
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
		<script src="{{asset('ress/js/angular.js')}}" > </script>
		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_4 header_tab" style="display: block;">
			<div class="title_tab title_tab_4">	Gestion des utilisateurs </div>
		</div> 	
	{% endblock %}
	
	{% block menu %}
		{% include "OVTFrontEndClientBundle:ClientAdmin:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %} 
		<div class="container_tab_1 container_tab " ng-app="OVTApp" ng-controller="userCtrl" data-ng-init="init()" >
			<div class="container_notif_rdv">
				<div class="SessionTabbuttons theme_color_background "  ng-click="toUpdate()" ng-bind="modifyText" > 
				</div>
				<div class="SessionTabbuttons theme_color_background" ng-click="toDelete(clientSelected.id)" >    				Supprimer 
				</div>
				<div class="SessionTabbuttons theme_color_background" ng-click="seePlaning(clientSelected.id)" >
					 Voir Planing					
				</div>
			</div>
			<div class="container_position_tab_1">
				<div class="bar_middle_tab_1" style="left:40%"></div> 
				<div class="container_left_tab_1 container_in_tab_1" style="width:40%">
					<div class="container_date_time_program_now" style="margin-top:0px; height:80%">
						<div class="container_add_contact_program_now" style="height:100%">
							<div class="container_input_search_contact_program_now">
								<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="16" height="16" viewBox="0 0 32 33">
									<use xlink:href="{{asset('svg/add_contact.svg#add_contact')}}"></use>
								</svg>
								<input type="text" class="container_search_contact_program_now theme_color_focus" placeholder="Recherche un utilisateur.">
							</div>
							<div class="container_list_contact_program_now subtitle_color_border_08" style="  max-height: 100%; min-height: 100%;">
								{% for s in clients %}
								<div class="container_contact_program_now_style">
									<div class="container_pp_contact_program_now_style" style="background-image: url({{asset('svg/default_pp.svg')}})"> 
									</div>
									<div class="container_info_contact_program_now">
										<div class="name_contact_program_now title_color_text">{{s.firstname ~" "~s.lastname}}</div>
										<div class="role_contact_program_now subtitle_color_text">Mockeper / Home</div>
									</div>
									<div class="container_check_contact_program_now">
										<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="11" height="8" viewBox="0 0 22 17">
											<use xlink:href="{{asset('svg/done_green_2.svg')}}#done_green_2"></use>
										</svg>
									</div>
								</div>								
								{% endfor %}
							</div>

							<div class="container_valid_cancel_program_now">
								<div class="SessionTabbuttons theme_color_background"ng-click="new()"ng-bind="newText"> </div>
							</div>
						</div>
					</div>
				</div>
				<div class="container_right_tab_1 container_in_tab_1" style="width:60%">
					<div class="container_info_contact_tab_4" style="margin:auto;">
					 	<div class="column_1_tab_4 column_tab_4_style" ng-hide="passwordChange">
					 		{% verbatim %}
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="lastnameDiv">{{clientSelected.user.lastname}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Nom</div>
							</div>
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="firstnameDiv">{{clientSelected.user.firstname}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Prénom</div>
							</div>
							<div class="container_info_editable_user_style">
								<div class="content_info_noneditable_user_style title_color_text">{{clientSelected.user.type}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Role</div>
							</div>
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="phoneNumberDiv">{{clientSelected.user.phoneNumber}}</div>
								<div class="name_info_editable_user_style subtitle_color_text" >Mobile</div>
							</div> 
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="addressDiv">{{clientSelected.user.address}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Adresse</div>
							</div>
						</div> 
						<div class="column_2_tab_4 column_tab_4_style" ng-hide="passwordChange">
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="emailDiv" >{{clientSelected.user.email}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Email</div> 
							</div>
							<div class="container_info_editable_user_style">
								<div class="content_info_noneditable_user_style title_color_text">{{clientSelected.group}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Groupe</div> 
							</div>
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="langueDiv" >{{clientSelected.langue}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Langue</div> 
							</div>
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="equipementsDiv" >{{clientSelected.equipments}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Equipements</div> 
							</div>
							{% endverbatim %}
							<div class="container_info_editable_user_style">
								<div class="content_info_noneditable_user_style title_color_text">***************</div>
								<div class="name_info_editable_user_style subtitle_color_text">Mot de passe</div>
								<div class=" change_passworK_style theme_color_text" style="position:relative"
									  ng-click="passwordChange=!passwordChange" >Changer de mot de passe</div>
							</div>  
						</div>

						<div style="width:80%; margin:auto;" >
							<form method="post" action="{{path('ovt_front_end_admin_client_update_user')}}" id="updateForm" style="display:none"   >
								<input type="text" name="lastName" 				id="lastnameKForm" ></input>
								<input type="text" name="firstName" 			id="firstnameKForm"></input>
								<input type="text" name="email" 				id="emailKForm"></input>
								<input type="text" name="address"  				id="addressKForm"></input>
								<input type="text" name="phoneNumber" 			id="phoneNumberKForm"></input>		
								<input type="text" name="language"  			id="addressKForm" ></input>
								<input type="text"  name="equipments" 			id="equipementsKForm"></input>
								<input type="hidden" name="clientID" 			ng-value="clientSelected.id"></input>
								<input type="hidden" name="userType" value="client"></input>
								<input type="submit" />
							</form>
							<div class="button_save_tab_4 button_tab_4 theme_color_background" id="formSubmit" style="float:left;width:30%; margin:auto">Enregistrer
								<div class="container_done_save_tab_4">
									<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="15" height="12" viewBox="0 0 22 17">
										<use xlink:href="{{asset('svg/done_white.svg#done_white')}}"></use>
									</svg>
								</div>
							</div>
							<div style="width:30%;margin-left:50%" class="button_edit_tab_4 button_tab_4 theme_color_text theme_color_border">Editer</div>
						</div>

						<div class="container_change_password" style="display:block" ng-show="passwordChange" >
							<form method="post" action="{{path('ovt_user_password_update')}}" onsubmit="return fetchPassword()" id="updatePasswordForm" >
								<div class="title_new_data title_color_text">Nouveau mot de passe</div> 
								<div class="container_data_style">
									<div class="text_data_style new_password subtitle_color_text">Nouveau mot de passe</div>	
									<input type="password" name="newPassword" id="newPassword" class="input_data">
								</div>
								<div class="container_data_style">
									<div class="text_data_style confirm_new_password subtitle_color_text">
										Retapez mot de passe</div>	
									<input type="password" name="newPassword2" id="newPassword2" class="input_data">
								</div>
								<input type="hidden" name="userId" ng-value="clientSelected.id"></input>	
							</form>
							<div class="container_save_new_data">
								<div class=" button_save_new_data_New save_new_password theme_color_background" id="formPasswordSubmit">Modifier
									<div class="container_check_valid_data">
										<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="15" height="12" viewBox="0 0 22 17">
											<use xlink:href="{{asset('svg/done_white.svg#done_white')}}"></use>
										</svg>
									</div>
								</div>
								<div class=" change_passworK_style title_color_text" ng-click="passwordChange=!passwordChange">Annuler</div>
							</div>
						</div>
					</div>
				</div>
			</div> 

 			<script type="text/javascript">

 				$('#formSubmit').click(function(){
 					$('#lastnameKForm').val($('#lastnameDiv').text());
					$('#firstnameKForm').val($('#firstnameDiv').text());
					$('#emailKForm').val($('#emailDiv').text());
					$('#addressKForm').val($('#addressDiv').text());
					$('#phoneNumberKForm').val($('#phoneNumberDiv').text());
					$('#addressKForm').val($('#addressDiv').text());
					$('#equipementsKForm').val($('#equipementsDiv').text());
 					alert($('#lastnameKForm').val());
					//$('#updateForm').submit();
				});
 				function fetchPassword(){ 
					if($("#newPassword").val()!=$("#newPassword2").val()){
						alert('Les mots de passe ne correspondent pas');
						return false;
					}
					else{ 
						return true;
					}
				}
				$('#formPasswordSubmit').click(function(){
					$('#updatePasswordForm').submit();
				});


				/* --------- SEPARATOR ------------  */
 				var app = angular.module('OVTApp', []);
				
				app.controller('userCtrl', function($scope,$http,$location,$window) {
						$scope.init = function (){
							$scope.affectShow=false;
							$scope.passwordChange=false;
							$scope.loading = false;
							$scope.firstload=true;
							$scope.modifyText="Modifier";
							$scope.newText="Nouveau";
							$scope.modifyFlag=false;
							$scope.planingFlag=false;
							$scope.newFlag=false;
							$scope.actionClick(35);
							//get groups
				   			{% verbatim %} 
				   				var link=Routing.generate('ovt_front_end_admin_client_get_json_groups_by_admin'); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.groups=data;
							    $scope.loading = false;

						  	}).
						 	error(function(data, status, headers, config) { });
						}


						$scope.actionClick= function (idclient) {
							if($scope.modifyFlag) $scope.toUpdate();
				   			if($scope.newFlag) $scope.new();
				   			if($scope.planingFlag)$scope.planingFlag =false;
							$scope.firstload=false;
							$scope.loading = true;
				   			{% verbatim %} 
				   				var link=Routing.generate('ovt_front_end_admin_client_get_user_by_id', {id:idclient}); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.clientSelected=data;
							    $scope.loading = false;

						  	}).
						 	error(function(data, status, headers, config) { });

				   		}

				   		$scope.toDelete = function(idclient){
				   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_client_delete_user_by_id');
				   			{% endverbatim %}
							$scope.loading = true;
							var confirmation = confirm("Voulez vraiment SUPPRIMER cet utilisaeur ?");
							if(confirmation){
								$http({
								    method: 'POST',
								    url: link,
								    data: "idClient="+idclient,
								    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
								}).
								success(function(data, status, headers, config) {
							  		alert("Suppression menée avec succès ! ");
							     	$window.location.href=Routing.generate('ovt_front_end_admin_client_users'); 
							  	}).
							  	error(function(data, status, headers, config) {
							    	alert("Suppression échouée !"+data);
							    	$scope.loading = false;
							  	});
							  	
							}else {
								$scope.loading = false;
							}
				   		}

				   		$scope.toUpdate= function(){
				   			if($scope.planingFlag)$scope.planingFlag =false;
				   			$scope.modifyFlag=!$scope.modifyFlag;
				   			$scope.modifyText=$scope.modifyFlag?"Retour":"Modifier";
				   			if($scope.newFlag) $scope.new();

				   		}

				   		$scope.setGroup= function(idclient){
				   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_client_set_user_group');
				   			{% endverbatim %}
							$scope.loading = true;
							var confirmation = confirm("Voulez vous affecter ce groupe à cet utilisateur ?");
							if(confirmation){
								$http({
								    method: 'POST',
								    url: link,
								    data: "idClient="+idclient+"&idGroup="+$scope.selectedGroup.id,
								    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
								}).
								success(function(data, status, headers, config) {
							  		alert("Affectation menée avec succès ! ");
							     	$window.location.href=Routing.generate('ovt_front_end_admin_client_users'); 
							  	}).
							  	error(function(data, status, headers, config) {
							    	alert("Affectation échouée !"+data);
							    	$scope.loading = false;
							  	});
							  	
							}else {
								$scope.loading = false;
							}
				   		}

				   		$scope.seePlaning= function(idclient){
			   				if($scope.modifyFlag) $scope.toUpdate();
			   				if($scope.newFlag) $scope.new();
							{% verbatim %}
				   				var link=Routing.generate('ovt_front_end_client_calendar',{idClient:idclient,coreCalendar:1});
				   			{% endverbatim %}
							$scope.loading = true;
							$http.get(link).
							success(function(data, status, headers, config) {
						  		$scope.loading = false;
						     	$('#clientCalendar').html(data);
						     	$scope.planingFlag=true;
						  	}).
						  	error(function(data, status, headers, config) {
						    	$scope.loading = false;
						  	});		
			   									 
				   		}
				   		
				   		$scope.new= function(idclient){
				   			$scope.newFlag=!$scope.newFlag;
				   			$scope.newText=$scope.newFlag?"Retour":"Nouveau";
				   			if($scope.modifyFlag) $scope.toUpdate();
				   			if($scope.planingFlag)$scope.planingFlag =false;
				   		}	
				});
 			</script>
		</div>

	{% endblock %}