{% extends "::baseProfil.html.twig" %}
 
    {% block header %}


        <link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
        
        {{parent()}}
        <link rel="stylesheet" type="text/css" href="{{asset('ress/css/transcript.css')}}" />
        <script src="{{asset('ress/js/angular.js')}}" > </script>
        <script src="{{asset('ress/js/jquery.js')}}" > </script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>

        <script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>
        
    {% endblock %}

    {% block tabTitle %} 
        <div class="header_tab_5 header_tab" style="display: block;">
            <div class="title_tab title_tab_5">Session de transcription ( Client )</div>
        </div>  
    {% endblock %}
    
    {% block menu %}
        {% include "OVTFrontEndClientBundle:Client:menuNew.html.twig" %}
    {% endblock %}
 
    {% block containerTab %}  
        <div class="container_tab_5 container_tab"  ng-app="OVTApp" ng-controller="velotypieClientCtrl" data-ng-init="init()" style="display:block">
            <div class="container_video full">
                <div class="position_container_tools_video"> 
                    <div class="gradient_bottom_video"></div>
                    <div  id="timeBox" class="container_time"><!-- add class="more" fore timer red -->
                         
                    </div>
                    <div class="video">
                        <div id="incomingText"  >  
                            <div id="ttarea">
                                <textarea  ng-bind="textareaField" readonly></textarea>
                            </div>
                        </div>
                    </div> 

                </div>
            </div>
            <!-- for anim add class="anim theme_color_fill" -->
            <div class="button_show_container_slide anim title_color_fill theme_color_fill">
                <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="7" height="9" viewBox="0 0 13 18">
                    <use xlink:href="{{asset('svg/arrow_show_slide.svg')}}#arrow_show_slide"></use>
                </svg>
            </div>

            <div class="container_slide"> 
                <div class="head_container_slide show"  >
                    <p>Voir les détails</p>
                    <div class="button_show_detail active">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 12 7" class="first_arrow">
                            <use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 12 7">
                            <use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
                        </svg>
                    </div>

                    <!-- add class="more" pour 2 -->
                    <div class=" ">
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Connecté en tant que </div>
                                <div class="email_contact_head_slide info_contact_head_slide">
                                    {{user.firstName ~" "~user.lastName}}</div>
                            </div>
                        </div>
                        <div class="bar_middle_contact_detail_head_slide more"></div>
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Intitulé </div>
                                <div class="email_contact_head_slide info_contact_head_slide">{{session.title}}</div>
                            </div>
                        </div>
                        <div class="bar_middle_contact_detail_head_slide more"></div>
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Organisateur</div>
                                <div class="email_contact_head_slide info_contact_head_slide">
                                    {{session.client.user.firstName ~" "~session.client.user.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="bar_middle_contact_detail_head_slide more"></div>
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Transcripteur</div>
                                <div class="email_contact_head_slide info_contact_head_slide">
                                    {{session.worker.user.firstName ~" "~session.worker.user.lastName}}</div>
                            </div>
                        </div>
                        <div class="bar_middle_contact_detail_head_slide more"></div>
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Heure de début </div>
                                <div class="email_contact_head_slide info_contact_head_slide">
                                    {{session.starttime|date('Y-m-d H:i:s') }}</div>
                            </div>
                        </div>
                        <div class="bar_middle_contact_detail_head_slide more"></div>
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Heure de fin </div>
                                <div class="email_contact_head_slide info_contact_head_slide"> 
                                    {{session.endtime|date('Y-m-d H:i:s') }}</div>
                            </div>
                        </div>
                        <div class="bar_middle_contact_detail_head_slide more"></div>
                        <div class="contact_detail_head_slide more show">  
                            <div class="container_info_contact_head_slide">
                                <div class="name_contact_head_slide info_contact_head_slide">Détails supplémentaires</div>
                                <div class="email_contact_head_slide info_contact_head_slide">{{session.description }}</div>
                            </div>
                        </div> 
                    </div>
                </div> 

                <div class="container_tool_chat" style="display:block">
                    <input type="text" id="chatField" class="input_chat" placeholder="Ecrire un message..."><div class="container_send_message">
                        <div id="chatSender" class="send_round theme_color_background">
                            <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"     xmlns:ev="http://www.w3.org/2001/xml-events" width="6" height="10" viewBox="0 0 11 19" class="white_fill">
                                <use xlink:href="{{asset('svg/arrow_right.svg')}}#arrow_right"></use>
                            </svg>
                        </div>
                    </div> 
                </div>

                <div class="container_discussion" style="display:block">
                    <div id="msgBox" class="discussion_contact container_contact_2_choose_action_discussion" style="display:block">  

                    </div>
                </div> 

            </div>

            <div id="modals">
                <div class="modal hide modal-static fade"   id="sessionStateModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="text-center"> 
                                    <div id="modalMessage"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div> 


        <script src="{{asset('ress/js/socket.io-1.2.0.js')}}"></script>
        <script src="{{asset('ress/js/keycodes.js')}}"></script>

        <script type="text/javascript" src="{{asset('ress/js/jquery.caret.js')}}"></script>
        <script type="text/javascript" src="{{asset('ress/js/jquery.selection.js')}}"></script>
        <script type="text/javascript" src="{{asset('ress/js/socket.js')}}"></script>
        <script type="text/javascript"   > 

            function sanitizeNumber(number){
                if(number < 10 )
                    return '0'+number
                return number;
            }

            function initiateTimer(){
                var starttime = moment("{{session.starttime|date('Y-m-d H:i:s')}}");
                var endtime   = moment("{{session.endtime|date('Y-m-d H:i:s')}}");
                var now = moment(); 
                 if(starttime > now ){
                    console.log('1');
                    $('#modalMessage').html('<h4 style="color:red"> DESOLE ! </h4> <br/> <br/> <span style="color:green"> Cette session n\'a pas encore débuté</span> ');
                    $('#sessionStateModal').modal('show');
                }
                else if(endtime<now){
                    console.log('2');
                    $('#modalMessage').html('<h4 style="color:red"> DESOLE ! </h4> <br/> <br/> <span style="color:green"> Cette session est terminée et archivée</span> ');
                    $('#sessionStateModal').modal('show');
                }
                else{
                    console.log('3');
                    setInterval(function(){refreshCounter()},1000);
                }

                function refreshCounter(){
                    var actualNow  = moment(); 
                   var countdown = moment.duration(endtime - actualNow);
                    $('#timeBox').toggleClass('more');
                    var h = sanitizeNumber(countdown.hours());
                    var min = sanitizeNumber(countdown.minutes());
                    var s = sanitizeNumber(countdown.seconds()) ;
                    var formatted   = 'Temps restant       '+h+' : '+min+' : '+s;
                    $('#timeBox').html(formatted);/**/
                }

            }
            
            ////////////////////////////////////////////////////////////////////////////////////////////

            function deleteBackWards(textCantainer, position, nbChars){
                var content = textCantainer.text();
                var left=content.substring(0,position);
                var right=content.substring(position+nbChars);
                textCantainer.text(left+right);
            }

 
            var app = angular.module('OVTApp', ['btford.socket-io']);
            
            app.factory('clientSocket', function (socketFactory) {
               return socketFactory({ 
                    ioSocket: io.connect('{{TRANSCRIPTING_SERVER}}',{'sync disconnect on unload': true })
                  });
            }).
            controller('velotypieClientCtrl', function(clientSocket,$scope,$http,$location,$window) {
                
                function initChatBox (){
                    var link = Routing.generate('ovt_services_velotypie_API_get_chat_by_session_id',{sessionID:{{session.id}}});
                    var chatMessages; 
                    $http.get(link).
                    success(function(data, status, headers, config) {
                        chatMessages = data;
                        for(var i = 0; i<chatMessages.length; i++ ){
                        if(chatMessages[i].sender=={{user.id}}){
                            var toAppend=
                            '<div class="container_message_style container_message_user">'
                                +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                    +'<div class="info_message name_info_message spanBlue">Moi</div>'
                                +'</div>'
                                +'<div class="container_message_type container_message_user subtitle_color_background_08 title_color_text">'
                                    +decodeURIComponent(chatMessages[i].content)
                                +'</div>'
                            +'</div>'; 
                            $('#msgBox').append(toAppend);  
                        }
                        else{
                             var toAppend=
                            '<div class="container_message_style container_message_contact">'
                                +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                    +'<div class="info_message name_info_message spanRed">Transcripteur</div>'
                                +'</div>'
                                +'<div class="container_message_type subtitle_color_background_08 title_color_text">'
                                    +decodeURIComponent(chatMessages[i].content)
                                +'</div>'
                            +'</div>'; 
                            $('#msgBox').append(toAppend);
                        }
                    }
                    }).
                    error(function(data, status, headers, config) { }); 
                    
                    
                }

                $scope.init = function (){
                    var link = Routing.generate('ovt_services_velotypie_API_get_content_by_id',{sessionID:{{session.id}}});
                    $http.get(link).
                    success(function(data, status, headers, config) {
                         $scope.textareaField = data;

                    }).
                    error(function(data, status, headers, config) { });
                    initChatBox();
                    initiateTimer();
                    
                }

                function sendChatMessage(data){
                    //console.log(data);
                    $('#msgBox').append(
                        '<div class="container_message_style container_message_user">'
                            +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                +'<div class="info_message name_info_message spanBlue">Moi</div>'
                            +'</div>'
                            +'<div class="container_message_type container_message_user subtitle_color_background_08 title_color_text">'
                                +decodeURIComponent(data.content)
                            +'</div>'
                        +'</div>');

                    clientSocket.emit('newChatMessage',data);
                    $('#chatField').val("");
                }


                //////////// authentification handler /////////////////

                
                clientSocket.on("connect", function(){
                    //clientSocket.emit('letMeJoin',dataConnect);
                    var dataConnect={userID: "{{user.id}}",  saloon:"{{link}}"};
                    clientSocket.emit('clientJoin',dataConnect);
                    clientSocket.emit('clientPresence',dataConnect);
                });

                clientSocket.on("accessGranted", function(id){
                    // alert('le serveur a accepté la connextion pour '+id);
                });

                clientSocket.on("accessDenied", function(id){
                     alert('l\'access a été refusée par le serveur pour '+id);
                });

                clientSocket.on('workerConnected', function(data){
                    $('#ttarea').css("border"," 5px inset green");
                    var dataConnect={userID: "{{user.id}}",  saloon:"{{link}}"};
                    clientSocket.emit('clientPresenceACK',dataConnect);
                });

                clientSocket.on('workerConnectedACK', function(data){
                    $('#ttarea').css("border"," 5px inset green"); 
                });
                
                clientSocket.on('workerDisconnected', function(data){
                    $('#ttarea').css("border"," 5px inset red");
                }); 




                /////// dealing with the trnascription ////////////

                clientSocket.on('incomingChar', function(data){
                    var content = $('#ttarea textarea').text();
                    var pos=data.position;
                    var left=content.substring(0,pos);
                    var right=content.substring(pos,content.length);
                    $('#ttarea textarea').text(left+data.character+right); 
                });

                clientSocket.on('incomingString', function(data){
                    var content = $('#ttarea textarea').text();
                    var pos=data.position;
                    var left=content.substring(0,pos);
                    var right=content.substring(pos,content.length);
                    $('#ttarea textarea').text(left+decodeURIComponent(data.textString)+right);
                });

                
                clientSocket.on('deletingString', function(data){ 
                   deleteBackWards($('#ttarea textarea'),data.position,data.nbChars);
                });

               

                clientSocket.on('newChatMessage', function(data){
                    var toAppend=
                        '<div class="container_message_style container_message_contact">'
                            +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                +'<div class="info_message name_info_message spanRed">Transcripteur</div>'
                            +'</div>'
                            +'<div class="container_message_type subtitle_color_background_08 title_color_text">'
                                +decodeURIComponent(data.content)
                            +'</div>'
                        +'</div>'; 
                    $('#msgBox').append(toAppend); 
                });

                

                //// CHAT HANDLER 

                $('#chatSender').click(function(){
                    data={
                        saloon : "{{link}}",
                        session:{{session.id}},
                        sender : {{session.client.user.id }},
                        receiver : {{session.worker.user.id}},
                       content:  encodeURIComponent($('#chatField').val()) 
                    };
                    sendChatMessage(data);
                });
                $('#chatField').bind("keydown", function(e){
                    if(e.keyCode==KeyCode.RETURN){
                        data={
                            saloon : "{{link}}",
                            session:{{session.id}},
                            sender : {{session.client.user.id}},
                            receiver : {{session.worker.user.id}},
                            content: encodeURIComponent($('#chatField').val()) 
                        };
                        sendChatMessage(data);
                    }
                });

                

            });


            /* 

 

*/
         </script> 
        
        <!--- ****************************** SEPARATOR *************************  -->
        
        <script type="text/javascript">
            
            // font family picker     
            $('#fontFamily').change(function() {
                $('#ttarea textarea').css('font-family',$(this).val());
            }); 

            // font size setter     
            $('#police').change(function() { 
                $('#ttarea textarea').css('font-size',$(this).val());
            }); 


        </script> 
 
    {% endblock %}  