<!doctype html>
<html>
    <head>
        <title>Session</title>
        <link rel="stylesheet" type="text/css" href="{{asset('ress/css/transcript.css')}}" />
        <link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
        <script src="{{asset('ress/js/jquery.js')}}" > </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="incomingText"  >
                <div class="topDiv">
                    Transcription
                </div>
                <div id="styleMenu">
                    <div class="styleMenuDiv" id ="wideScreen" > 
                        <img src="{{asset('ress/img/full_screen.png')}}" height="42px" width="42px" /> 
                    </div>
                    <div class="styleMenuDiv">
                        <select id="fontFamily">
                            <option value="verdanna"> Verdanna </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="styleMenuDiv">
                        <select id="police">
                            <option value="14"> 14 </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="styleMenuDiv" id ="fontColor" >
                        <img  class="styleMenuImage" src="{{asset('ress/img/font-color.png')}}" />
                        <div class="colorBar"></div>
                    </div>
                    <div class="styleMenuDiv" id="backColor" >
                        <img class="styleMenuImage"src="{{asset('ress/img/bgcolor.png')}}" /> 
                        <div class="colorBar"></div>
                    </div>
                    <div class="styleMenuDiv" id="hideSideBar">
                        <img  height="35px" width="35px" src="{{asset('ress/img/chat.png')}}" />
                    </div>
                    <div class="styleMenuDiv" id="quitButton" style="padding:5px 0px 0px 5px;">
                        <img src="{{asset('ress/img/exit.png')}}" style=" float:left;"/> 
                        <span style="color:white">Fermer</span>
                    </div>
                    

                </div>
                <div id="ttarea">
                    <textarea  readonly></textarea>
                </div>
            </div>

            <div id ="infoSession">
                <div class="topDiv">
                    Details de la Session
                </div>
                <div class="detailsSession"> 
                    <div id="pseudo">
                    </div>
                </div>
            </div>

            <div id="chatBox" >
                <div class="topDiv">
                    Messagerie instannée
                </div>
                <div id="msgBox"></div>
                <div id="inputMsg">
                    <input type="text"></input>
                    <input type="submit" value="Envoyer"></input>
                </div>
            </div>
        </div>


        <script src="{{asset('ress/js/socket.io-1.2.0.js')}}"></script>
        <script src="{{asset('ress/js/keycodes.js')}}"></script>

        <script type="text/javascript" src="{{asset('ress/js/jquery.caret.js')}}"></script>
        <script type="text/javascript" src="{{asset('ress/js/jquery.selection.js')}}"></script>

        <script type="text/javascript"   > 
            $('#pseudo').text('client');
            $('#allkeys').html('');

            function deleteBackWards(textCantainer, position, nbChars){
                var content = textCantainer.text();
                var left=content.substring(0,position);
                var right=content.substring(position+nbChars);
                textCantainer.text(left+right);
            }

          var socket = io.connect('localhost:9090',{'sync disconnect on unload': true });
          var dataConnect={userID:"{{user.id}}",saloon:"{{link}}"};
            socket.on("connect", function(){
                socket.emit('letMeJoin',dataConnect);
            });

            socket.on('incomingChar', function(data){
                var content = $('#ttarea textarea').text();
                var pos=data.position;
                var left=content.substring(0,pos);
                var right=content.substring(pos,content.length);
                $('#ttarea textarea').text(left+data.character+right);
                //$('#ttarea textarea').caret(data.position);
                //$('#ttarea textarea').selection('insert', {text:data.character, mode: 'after'});
            });

            socket.on('incomingString', function(data){
                var content = $('#ttarea textarea').text();
                var pos=data.position;
                var left=content.substring(0,pos);
                var right=content.substring(pos,content.length);
                $('#ttarea textarea').text(left+data.textString+right);
            });

             socket.on('deletingChar', function(data){
               /* 
                var content = $('#ttarea textarea').text();
                var pos=data.position;
                var left=content.substring(0,pos-1);
                var right=content.substring(pos,content.length);
                
                $('#ttarea textarea').text(left+right);*/
                deleteBackWards($('#ttarea textarea'),data.position,1);
            });

            socket.on('deletingString', function(data){
               //alert('in delStr - '+data.position+' - '+data.nbChars);
               deleteBackWards($('#ttarea textarea'),data.position,data.nbChars);
            });

            socket.on('workerConnected', function(data){
                $('#ttarea').css("border"," 5px inset green");
            });

            socket.on('workerDisconnected', function(data){
                $('#ttarea').css("border"," 5px inset red");
            });
         </script> 
 
    
 
    </body>
</html>
