<!doctype html>
<html>
    <head>
        <title>Session</title>
        <link rel="stylesheet" type="text/css" href="{{asset('ress/css/transcript.css')}}" />
        <link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
        <script src="{{asset('ress/js/jquery.js')}}" > </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="incomingText"  >
                <div class="topDiv">
                    Transcription
                </div>
                <div id="styleMenu">
                    <div class="styleMenuDiv" id ="wideScreen" > 
                        <img src="{{asset('ress/img/full_screen.png')}}" height="42px" width="42px" /> 
                    </div>
                    <div class="styleMenuDiv">
                        <select id="fontFamily">
                            <option value="verdanna"> Verdanna </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="styleMenuDiv">
                        <select id="police">
                            <option value="14"> 14 </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="styleMenuDiv" id ="fontColor" >
                        <img  class="styleMenuImage" src="{{asset('ress/img/font-color.png')}}" />
                        <div class="colorBar"></div>
                    </div>
                    <div class="styleMenuDiv" id="backColor" >
                        <img class="styleMenuImage"src="{{asset('ress/img/bgcolor.png')}}" /> 
                        <div class="colorBar"></div>
                    </div>
                    <div class="styleMenuDiv" id="hideSideBar">
                        <img  height="35px" width="35px" src="{{asset('ress/img/chat.png')}}" />
                    </div>
                    <div class="styleMenuDiv" id="quitButton" style="padding:5px 0px 0px 5px;">
                        <img src="{{asset('ress/img/exit.png')}}" style=" float:left;"/> 
                        <span style="color:white">Fermer</span>
                    </div>

                </div>
                <div id="ttarea">
                    <textarea></textarea>
                </div>
            </div>

            <div id ="infoSession">
                <div class="topDiv">
                    Details de la Session
                </div>
                <div class="detailsSession"> 
                    <div id="pseudo">
                    </div>
                </div>
            </div>

            <div id="chatBox" >
                <div class="topDiv">
                    Messagerie instannée
                </div>
                <div id="msgBox"></div>
                <div id="inputMsg">
                    <input type="text"></input>
                    <input type="submit" value="Envoyer"></input>
                </div>
            </div>
        </div>

        <script src="{{asset('ress/js/socket.io-1.2.0.js')}}"></script>
        <script src="{{asset('ress/js/keycodes.js')}}"></script>

        <script type="text/javascript" src="{{asset('ress/js/jquery.caret.js')}}"></script>
        <script type="text/javascript" src="{{asset('ress/js/jquery.selection.js')}}"></script>

        <script type="text/javascript"   >   
            $(function() {
            $('#pseudo').text('worker');
            $('#ttarea').css("border"," 5px inset red");
            
            var socket = io.connect('localhost:9090',{'sync disconnect on unload': true });
            wordBuffer='';

            function sendData(text){
                var data={'pseudo':$('#pseudo').text(), saloon:saloon , word: wordBuffer};
                socket.emit('sendingWord', data);
                wordBuffer='';
            }

            function validPrintable(keycode){
                var valid = 
                    (keycode > 47 && keycode < 58)   || // number keys
                    keycode == 32 || keycode == 13   || // spacebar & return key(s) (if you want to allow carriage returns)
                    (keycode > 64 && keycode < 91)   || // letter keys
                    (keycode > 95 && keycode < 112)  || // numpad keys
                    (keycode > 185 && keycode < 193) || // ;=,-./` (in order)
                    (keycode > 218 && keycode < 223);   // [\]' (in order)

                return valid;
            }
            var saloon= "{{link}}"; 
            var dataConnect={userID:"{{user.id}}",saloon:saloon};
            socket.on("connect", function(){
                socket.emit('letMeJoin',dataConnect);
                $('#ttarea').css("border"," 5px inset green");
            });

            $( "#ttarea textarea" ).bind("keypress",function(e) {
                var selectionLength=$('#ttarea textarea').selection().length;
                if(selectionLength>1){
                    //alert(selectionLength);
                    data={'pseudo':$('#pseudo').text(), saloon:saloon, position :$('#ttarea textarea').caret(), nbChars:selectionLength};
                    socket.to().emit('deletingString', data);
                }
                        
                var key=e.keyCode;
                var pos =$('#ttarea textarea').caret();
                var data={'pseudo':$('#pseudo').text(), saloon:saloon , character:String.fromCodePoint(e.which), position :pos};
                socket.emit('sendingChar', data);
               
            });

            $( "#ttarea textarea" ).bind("keydown",function(e) {
                var key=e.keyCode;
                var pos =$('#ttarea textarea').caret();
                var data={'pseudo':$('#pseudo').text(), saloon:saloon , character:String.fromCodePoint(e.which), position :pos};
                //alert($('#ttarea textarea').selection().length+' -- '+$('#ttarea textarea').caret());
                var selectionLength=$('#ttarea textarea').selection().length;
               
                switch(key){
                    case KeyCode.BACKSPACE :
                        if(selectionLength>1){
                           // alert(selectionLength);
                            data={'pseudo':$('#pseudo').text(), saloon:saloon, position :pos, nbChars:selectionLength};
                            socket.emit('deletingString', data);
                        }else{
                            data.position=data.position-1;
                            socket.emit('deletingChar', data);
                        }
                        break;
                    case KeyCode.DEL:
                        if(selectionLength>1){
                            //alert(selectionLength);
                            data={'pseudo':$('#pseudo').text(), saloon:saloon, position :pos, nbChars:selectionLength};
                            socket.emit('deletingString', data);
                        }else{
                         socket.emit('deletingChar', data);
                        }
                        break;
                }
            
            }); 

            $( "#ttarea textarea" ).bind("cut",function(e) {
                var selectionLength=$('#ttarea textarea').selection().length;
                if(selectionLength>0){
                    //alert(selectionLength);
                    data={'pseudo':$('#pseudo').text(), saloon:saloon, position :$('#ttarea textarea').caret(), nbChars:selectionLength};
                    socket.emit('deletingString', data);
                }
            });

            $( "#ttarea textarea" ).bind("paste",function(e) {
                //console.debug(e);
                var text =e.originalEvent.clipboardData.getData('text/plain');
                //alert(text);
                
                data={'pseudo':$('#pseudo').text(), saloon:saloon, position :$('#ttarea textarea').caret(), textString:text};
                socket.emit('sendingString', data);
            });

            var heartBeat = function() {
                var presenceData={saloon:saloon};
                //alert(presenceData.saloon);
                socket.emit('presenceFrame',presenceData);
            }
            heartBeat(socket); 
            var timer = setInterval(heartBeat   ,10000);
        });
        </script>
    </body>
</html>
