{% extends "::baseProfil.html.twig" %}
 
    {% block header %}

        {{parent()}}
        <link rel="stylesheet" type="text/css" href="{{asset('ress/css/transcript.css')}}" /> 
        <script src="{{asset('ress/js/angular.js')}}" > </script>
        <script src="{{asset('ress/js/jquery.js')}}" > </script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% endblock %}

    {% block tabTitle %} 
        <div class="header_tab_5 header_tab" style="display: block;">
            <div class="title_tab title_tab_5">Session de transcription ( Prestataire )</div>
        </div>  
    {% endblock %}
    
    {% block menu %}
        {% include "OVTFrontEndProviderBundle:Provider:menuNew.html.twig" %}
    {% endblock %}
 
    {% block containerTab %}  
    <div class="container_tab_5 container_tab" ng-app="OVTApp"ng-controller="velotypieWorkerCtrl" data-ng-init="init()"     style="display:block">
        <div class="container_video full">
            <div class="position_container_tools_video"> 
                <div class="gradient_bottom_video"></div>
                <div class="container_time"><!-- add class="more" fore timer red -->
                    <span>-</span>01: 24 : 52
                </div>
                <div class="video">
                    <div id="incomingText"  >  
                        <div id="ttarea">
                            <textarea ng-bind="textareaField" > </textarea>
                        </div>
                    </div>
                </div> 

            </div>
        </div>

         <!-- for anim add class="anim theme_color_fill" -->
        <div class="button_show_container_slide anim title_color_fill theme_color_fill">
            <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="7" height="9" viewBox="0 0 13 18">
                <use xlink:href="{{asset('svg/arrow_show_slide.svg')}}#arrow_show_slide"></use>
            </svg>
        </div>

        <div class="container_slide"> 
            <div class="head_container_slide show"  >
                <p>Voir les détails</p>
                <div class="button_show_detail active">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 12 7" class="first_arrow">
                        <use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 12 7">
                        <use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
                    </svg>
                </div>

                <!-- add class="more" pour 2 -->
                <div class=" ">
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Connecté en tant que </div>
                            <div class="email_contact_head_slide info_contact_head_slide">
                                {{user.firstName ~" "~user.lastName}}</div>
                        </div>
                    </div>
                    <div class="bar_middle_contact_detail_head_slide more"></div>
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Intitulé </div>
                            <div class="email_contact_head_slide info_contact_head_slide">{{session.title}}</div>
                        </div>
                    </div>
                    <div class="bar_middle_contact_detail_head_slide more"></div>
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Organisateur</div>
                            <div class="email_contact_head_slide info_contact_head_slide">
                                {{session.client.user.firstName ~" "~session.client.user.lastName}}
                            </div>
                        </div>
                    </div>
                    <div class="bar_middle_contact_detail_head_slide more"></div>
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Transcripteur</div>
                            <div class="email_contact_head_slide info_contact_head_slide">
                                {{session.worker.user.firstName ~" "~session.worker.user.lastName}}</div>
                        </div>
                    </div>
                    <div class="bar_middle_contact_detail_head_slide more"></div>
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Heure de début </div>
                            <div class="email_contact_head_slide info_contact_head_slide">
                                {{session.starttime|date('Y-m-d H:i:s') }}</div>
                        </div>
                    </div>
                    <div class="bar_middle_contact_detail_head_slide more"></div>
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Heure de fin </div>
                            <div class="email_contact_head_slide info_contact_head_slide"> 
                                {{session.endtime|date('Y-m-d H:i:s') }}</div>
                        </div>
                    </div>
                    <div class="bar_middle_contact_detail_head_slide more"></div>
                    <div class="contact_detail_head_slide more show">  
                        <div class="container_info_contact_head_slide">
                            <div class="name_contact_head_slide info_contact_head_slide">Détails supplémentaires</div>
                            <div class="email_contact_head_slide info_contact_head_slide">{{session.description }}</div>
                        </div>
                    </div> 
                </div>
            </div> 

            <div class="container_tool_chat" style="display:block">
                <input type="text" id="chatField" class="input_chat" placeholder="Ecrire un message..."><div class="container_send_message">
                    <div id="chatSender" class="send_round theme_color_background">
                        <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"     xmlns:ev="http://www.w3.org/2001/xml-events" width="6" height="10" viewBox="0 0 11 19" class="white_fill">
                            <use xlink:href="{{asset('svg/arrow_right.svg')}}#arrow_right"></use>
                        </svg>
                    </div>
                </div> 
            </div>
            <div class="container_discussion" style="display:block">
                <div id="msgBox" class="discussion_contact container_contact_2_choose_action_discussion" style="display:block">  

                </div>
            </div> 

        </div>
    </div>



        <script src="{{asset('ress/js/socket.io-1.2.0.js')}}"></script>
        <script src="{{asset('ress/js/keycodes.js')}}"></script>

        <script type="text/javascript" src="{{asset('ress/js/jquery.caret.js')}}"></script>
        <script type="text/javascript" src="{{asset('ress/js/jquery.selection.js')}}"></script>
        <script type="text/javascript" src="{{asset('ress/js/socket.js')}}"></script>

        <script type="text/javascript"   >   
          
 

            var app = angular.module('OVTApp', ['btford.socket-io']);
            
            app.factory('workerSocket', function (socketFactory) {
               return socketFactory({ 
                    ioSocket: io.connect('localhost:9090',{'sync disconnect on unload': true })
                  });
            }).
            controller('velotypieWorkerCtrl', function(workerSocket,$scope,$http,$location,$window) {
                

                function sendChatMessage(data){
                    $('#msgBox').append(
                        '<div class="container_message_style container_message_user">'
                            +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                +'<div class="info_message name_info_message spanBlue">Moi</div>'
                            +'</div>'
                            +'<div class="container_message_type container_message_user subtitle_color_background_08 title_color_text">'
                                +decodeURIComponent(data.content)
                            +'</div>'
                        +'</div>');

                    workerSocket.emit('newChatMessage',data);
                    $('#chatField').val("");
                }

                function initChatBox (){
                    var link = Routing.generate('ovt_services_velotypie_API_get_chat_by_session_id',{sessionID:{{session.id}}});
                    var chatMessages; 
                    $http.get(link).
                    success(function(data, status, headers, config) {
                        chatMessages = data;
                        for(var i = 0; i<chatMessages.length; i++ ){
                        if(chatMessages[i].sender=={{session.worker.user.id}}){
                            var toAppend=
                            '<div class="container_message_style container_message_user">'
                                +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                    +'<div class="info_message name_info_message spanBlue">Moi</div>'
                                +'</div>'
                                +'<div class="container_message_type container_message_user subtitle_color_background_08 title_color_text">'
                                    +decodeURIComponent(chatMessages[i].content)
                                +'</div>'
                            +'</div>'; 
                            $('#msgBox').append(toAppend); 
                        }
                        else{
                            var toAppend=
                            '<div class="container_message_style container_message_contact">'
                                +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                    +'<div class="info_message name_info_message spanRed">Client</div>'
                                +'</div>'
                                +'<div class="container_message_type subtitle_color_background_08 title_color_text">'
                                    +decodeURIComponent(chatMessages[i].content)
                                +'</div>'
                            +'</div>'; 
                            $('#msgBox').append(toAppend);
                        }
                    }
                    }).
                    error(function(data, status, headers, config) { }); 
                }            

                function init(){  
                    $('#ttarea').css("border"," 5px inset red");
                    inactivity = 0; 
                    wordBuffer='';
                    saloon= "{{link}}"; 
                    var link = Routing.generate('ovt_services_velotypie_API_get_content_by_id',{sessionID:{{session.id}}});
                    $http.get(link).
                    success(function(data, status, headers, config) {
                         $scope.textareaField = data;

                    }).
                    error(function(data, status, headers, config) { });
                   
                    initChatBox ();
                }
            
                init();
                
                //////////// authentification handler /////////////////
                workerSocket.on("connect", function(){
                    var dataConnect={userID:"{{user.id}}",saloon:saloon};
                    workerSocket.emit('workerJoin',dataConnect);
                    //$('#ttarea').css("border"," 5px inset green");
                    workerSocket.emit('workerPresence',dataConnect);
                });
                
                workerSocket.on("accessGranted", function(id){
                    // alert('le serveur a accepté la connextion pour '+id);
                });

                workerSocket.on("accessDenied", function(id){
                     alert('l\'access a été refusée par le serveur pour '+id);
                });

                workerSocket.on('clientConnected', function(data){
                    $('#ttarea').css("border"," 5px inset green");
                    var dataConnect={userID:"{{user.id}}",saloon:saloon};
                    workerSocket.emit('workerPresenceACK',dataConnect);
                });

                workerSocket.on('clientConnectedACK', function(data){
                    $('#ttarea').css("border"," 5px inset green"); 
                });

                workerSocket.on('clientDisconnected', function(data){
                    $('#ttarea').css("border"," 5px inset red");
                }); 

                ////// CHAT HANDLER ///////////
                workerSocket.on('newChatMessage', function(data){
                    var toAppend=
                        '<div class="container_message_style container_message_contact">'
                            +'<div class="container_info_message_type container_info_message subtitle_color_text">'
                                +'<div class="info_message name_info_message spanRed">Client</div>'
                            +'</div>'
                            +'<div class="container_message_type subtitle_color_background_08 title_color_text">'
                                +decodeURIComponent(data.content)
                            +'</div>'
                        +'</div>'; 
                    $('#msgBox').append(toAppend); 
                });


                ////// Handling events  ///////
                $("#ttarea textarea" ).bind("keypress",function(e) {
                    var selectionLength=$('#ttarea textarea').selection().length;
                    if(selectionLength>1){
                        data={'session':{{session.id}}, saloon:saloon, position :$('#ttarea textarea').caret(), nbChars:selectionLength};
                        workerSocket.emit('deletingString', data); 
                    }
                            
                    var key=e.keyCode;
                    var pos =$('#ttarea textarea').caret();
                    var data={'session':{{session.id}}, saloon:saloon , textString:encodeURIComponent(String.fromCodePoint(e.which)), character:String.fromCodePoint(e.which), position :pos};
                    workerSocket.emit('sendingString', data);
                    inactivity = 0;
                   
                });

                $("#ttarea textarea" ).bind("keydown",function(e) {
                    var key=e.keyCode;
                    var pos =$('#ttarea textarea').caret();
                    var data={'session':{{session.id}}, saloon:saloon , character:String.fromCodePoint(e.which), position :pos, nbChars:0};
                    var selectionLength=$('#ttarea textarea').selection().length;
                    switch(key){
                        case KeyCode.BACKSPACE :
                            if(selectionLength>0){
                                alert(selectionLength);
                                data={'session':{{session.id}}, saloon:saloon, position :pos, nbChars:selectionLength};
                                workerSocket.emit('deletingString', data);
                            }else{
                                data.nbChars=1;
                                data.position=data.position-1;
                                workerSocket.emit('deletingString', data);
                            }
                            break;
                        case KeyCode.DEL:
                            if(selectionLength>0){
                                alert(selectionLength);
                                data={'session':{{session.id}}, saloon:saloon, position :pos, nbChars:selectionLength};
                                workerSocket.emit('deletingString', data);
                            }else{
                                data.nbChars=1;
                                workerSocket.emit('deletingString', data);
                            }
                            break;
                    }
                    inactivity = 0;
                
                }); 

                $( "#ttarea textarea" ).bind("cut",function(e) {
                    var selectionLength=$('#ttarea textarea').selection().length;
                    if(selectionLength>0){
                        //alert(selectionLength);
                        data={'session':{{session.id}}, saloon:saloon, position :$('#ttarea textarea').caret(), nbChars:selectionLength};
                        workerSocket.emit('deletingString', data);
                    }
                    inactivity = 0;
                });

                $( "#ttarea textarea" ).bind("paste",function(e) {
                    //console.debug(e);
                    var text =e.originalEvent.clipboardData.getData('text/plain');
                    //alert(text);
                    
                    data={'session':{{session.id}}, saloon:saloon, position :$('#ttarea textarea').caret(), textString:text};
                    workerSocket.emit('sendingString', data);
                    inactivity = 0;
                });




                $('#chatSender').click(function(){
                    data={
                        saloon : "{{link}}",
                        session:{{session.id}},
                        sender : {{session.worker.user.id }},
                        receiver : {{session.client.user.id}},
                        content: encodeURIComponent($('#chatField').val()) 
                    };
                    sendChatMessage(data);
                });
                $('#chatField').bind("keydown", function(e){
                    if(e.keyCode==KeyCode.RETURN){
                        data={
                            saloon : "{{link}}",
                            session:{{session.id}},
                            sender : {{session.worker.user.id }},
                            receiver : {{session.client.user.id}},
                            content: encodeURIComponent($('#chatField').val()) 
                        };
                        sendChatMessage(data);
                    }
                });


                var heartBeat = function() {
                    var presenceData={saloon:saloon};
                     
                    workerSocket.emit('presenceFrame',presenceData);
                }
                //heartBeat(); 
                //var timer = setInterval(heartBeat   ,10000);


                var updateDBContent = setInterval(function(){
                        var content = $("#ttarea textarea").val() ;
                        var link2 = Routing.generate('ovt_services_velotypie_API_add_content_by_id_bis',
                        { sessionID:{{session.id}}, content: content});
                        if(inactivity++ < 2)
                            $.get(link2, function(data, status){
                                console.log("updating db --- ");
                            });

                    },5000);

                });





            ////////////////////////////////////
 
        </script>
        
        <!--- ****************************** SEPARATOR *************************  -->
        
        <script type="text/javascript">
            
            // font family picker     
            $('#fontFamily').change(function() {
                $('#ttarea textarea').css('font-family',$(this).val());
            }); 

            // font size setter     
            $('#police').change(function() { 
                $('#ttarea textarea').css('font-size',$(this).val());
            }); 


        </script>

    {% endblock %}


