{% extends "::baseProfil.html.twig" %}
 	
 	{% block tabTitle %} 
 		<div class="header_tab_4 header_tab" style="display: block;">
			<div class="title_tab title_tab_4">	Accueil </div>
		</div> 	
	{% endblock %}

	{% block header %}
		{{parent()}}
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% endblock %}
	
	{% block menu %}
		{% include "OVTBackEndAdminBundle:SuperAdmin:menuNew.html.twig" %}
	{% endblock %} 

 
	{% block containerTab %} 
	<div class="container_tab_4 container_tab" style="display: block;"> 
		<div class="container_notif_rdv"> 
			<div class="container_notif_go_rdv_bis anim theme_color_background">
				<div class="logo_notif_rdv">
					<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="6" height="14" viewBox="0 0 13 29">
					<g transform="scale(NaN)"><path fill-rule="evenodd" fill="rgb( 255, 255, 255 )" d="M9.206,6.511 C7.460,6.511 6.442,5.462 6.489,3.725 C6.489,2.262 7.701,0.253 10.128,0.253 C11.969,0.253 12.890,1.532 12.890,2.995 C12.890,4.823 11.291,6.511 9.206,6.511 ZM10.778,14.597 C10.778,14.597 8.865,22.091 8.865,22.091 C8.527,23.416 8.672,23.871 9.011,23.871 C9.352,23.871 10.301,23.536 11.370,22.844 C11.370,22.844 11.371,22.844 11.372,22.842 C11.436,22.801 11.500,22.760 11.564,22.717 C11.663,22.671 11.771,22.645 11.887,22.645 C12.316,22.645 12.662,22.998 12.662,23.434 C12.662,23.639 12.587,23.825 12.461,23.965 C12.427,23.996 12.395,24.027 12.361,24.060 C9.137,27.075 5.803,28.257 4.453,28.257 C2.998,28.257 1.930,27.343 2.949,23.324 C2.949,23.324 4.620,16.196 4.620,16.196 C4.911,15.054 4.959,14.597 4.620,14.597 C4.285,14.597 3.099,15.059 2.060,15.626 C1.990,15.665 1.922,15.700 1.855,15.739 C1.773,15.769 1.684,15.787 1.592,15.787 C1.165,15.787 0.816,15.432 0.816,14.996 C0.816,14.750 0.926,14.534 1.099,14.388 C1.108,14.380 1.117,14.373 1.128,14.365 C4.497,11.651 8.173,10.075 9.808,10.075 C11.262,10.075 11.505,11.858 10.778,14.597 Z"></path>
					</g></svg>
				</div>
				<div class="title_go_rdv">
					"<span>Important : A lire </span>" 
				</div>
				<div class="go_rdv">bla bla</div> 
			</div>
		</div>

		<div class="position_content_tab_4" style="padding-top:50px" >    
			<div class="dash_block" >
			 	<div class="type_historique type_historique_no_rdv subtitle_color_text theme_color_background">
			 		<span style="color:#FFF" > Entreprises Clientes </span>
			 		<a href="{{path('ovt_back_end_admin_gestion',{gestion:'client'})}}" >
			 			<svg class="more_icon" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="30"height="30"viewBox="0 -8 50 60">
							<use xlink:href="{{asset('svg/option_video.svg')}}#option_video"></use>
						</svg>
					</a>
				</div>
				<!-- begin iteration -->
				{% for c in clients %}
				<div class="type_historique subtitle_color_text" onclick="redirectClientTo({{c.id}})" style="cursor: pointer;"> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{c.name}}
						</div> 
					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{c.email}}
						</div> 
					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{c.address}}
						</div> 

					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{c.phoneNumber}}
						</div> 
					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_canal">
						<div class="content_element_historique content_element_historique_canal">
							{{c.service| join(', ') }}
						</div>
					</div>  	 
				</div>
				{% endfor %}
				<!-- end -->
				<div class="type_historique type_historique_no_rdv subtitle_color_text">. . . . .
				</div>
			</div>

			<div class="dash_block">
			 	<div class="type_historique type_historique_no_rdv subtitle_color_text theme_color_background">
			 		<span style="color:#FFF" > Entreprises Prestataires </span>
			 		<a href="{{path('ovt_back_end_admin_gestion',{gestion:'provider'})}}" >
			 			<svg class="more_icon" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="30"height="30"viewBox="0 -8 50 60">
							<use xlink:href="{{asset('svg/option_video.svg')}}#option_video"></use>
						</svg>
					</a>
				</div>
				<!-- begin iteration -->
				{% for p in providers %}
				<div class="type_historique subtitle_color_text" onclick="redirectProviderTo({{p.id}})" style="cursor: pointer;"> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{p.name}}
						</div> 
					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{p.email}}
						</div> 
					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{p.address}}
						</div> 

					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_name">
						<div class="content_element_historique content_element_historique_name">
							{{p.phoneNumber}}
						</div> 
					</div> 
					<div class="element_historique_container_historique element_historique_container_historique_canal">
						<div class="content_element_historique content_element_historique_canal">
							{{p.service| join(', ') }}
						</div>
					</div>  	 
				</div>
				{% endfor %}
				<!-- end -->
				<div class="type_historique type_historique_no_rdv subtitle_color_text">. . . . .
				</div>
			</div>
 
		</div>
			
		<script type="text/javascript">
			function toActivate(id){
				$('.tab_bar_left').removeClass('activate theme_color_border');
				$('.tab_bar_left_'+id).addClass('activate theme_color_border');
			}
			toActivate(5);

			function redirectClientTo(cID){
				var link= Routing.generate('ovt_back_end_admin_gestion',{gestion:'client',defaultClick:cID});
				window.location.href= link;
			}

			function redirectProviderTo(pID){
				var link= Routing.generate('ovt_back_end_admin_gestion',{gestion:'provider',defaultClick:pID});
				window.location.href= link;
			}
			 
		</script>

	</div>

	{% endblock %} 