<a href="{{path('ovt_back_end_admin_homepage')}}" >
 	<div class="tab_bar_left tab_bar_left_5   subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="40" height="30" viewBox="0 0 64 53">
			<use xlink:href="{{asset('svg/logo_2.svg')}}#logo_2"></use>
		</svg>
	</div>
</a>

<a 	href="{{path('ovt_back_end_admin_gestion',{gestion:'service'})}}" >
	<div class="tab_bar_left tab_bar_left_3   subtitle_color_fill"> 
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="50" height="40" viewBox="0 0 932.179 932.179">
			<use xlink:href="{{asset('svg/service.svg')}}#service"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_back_end_admin_gestion',{gestion:'client'})}}" >
 	<div class="tab_bar_left tab_bar_left_1  subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="40" height="35" viewBox="0 0 40 30">
			<use xlink:href="{{asset('svg/client.svg')}}#client"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_back_end_admin_gestion',{gestion:'provider'})}}" >
	<div class="tab_bar_left tab_bar_left_2   subtitle_color_fill"> 
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="50" height="38" viewBox="0 0 50 60">
			<use xlink:href="{{asset('svg/provider.svg')}}#provider"></use>
		</svg>
	</div>
</a>


<a  href="{{path('ovt_back_end_admin_profile')}}"  > 
	<div class="tab_bar_left tab_bar_left_4   subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="40" height="30" viewBox="0 0 48 54">
			<use xlink:href="{{asset('svg/logo_5.svg')}}#logo_5"></use>
		</svg>
	</div>
</a> 