<a href="{{path('ovt_back_end_admin_gestion',{gestion:'client'})}}" >
 	<div class="tab_bar_left tab_bar_left_1  subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="32" height="26" viewBox="-10 0 64 53">
			<use xlink:href="{{asset('svg/logo_add_people.svg')}}#logo_add_people"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_back_end_admin_gestion',{gestion:'provider'})}}" >
	<div class="tab_bar_left tab_bar_left_2 subtitle_color_fill"> 
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="26" viewBox="0 0 47 52">
			<use xlink:href="{{asset('svg/option_video.svg')}}#option_video"></use>
		</svg>
	</div>
</a>

<a 	href="{{path('ovt_back_end_admin_gestion',{gestion:'service'})}}" >
	<div class="tab_bar_left tab_bar_left_3 subtitle_color_fill"> 
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="60" height="50" viewBox="-25 0 75 50">
			<use xlink:href="{{asset('svg/logo_fichiers.svg')}}#logo_fichiers"></use>
		</svg>
	</div>
</a>

<a  href="{{path('ovt_back_end_admin_profile')}}"  > 
	<div class="tab_bar_left tab_bar_left_4 subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="27" viewBox="0 0 48 54">
			<use xlink:href="{{asset('svg/logo_5.svg')}}#logo_5"></use>
		</svg>
	</div>
</a> 