{% extends "OVTBackEndAdminBundle:SuperAdmin:profil.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	
{% endblock %}
	{% block container %}

		<div id="cadre">
			<div id="gestion_title">
				<p  >Gestion des services
			</div>
			<div id="inside_cadre">
				<div class="list">
					<div class="list_border">
						<div class="entete">
							<label for="tri"> Trier Par : </label>
							<select name="choix_tri" > 
							</select>
						</div>
						<br/>

						<div class="user_list">
							{{render(controller('OVTBackEndAdminBundle:ServiceAdmin:getAllServices'))}}
						</div>
					</div>

					<div class="new_user"  >
						<a href="{{path('ovt_back_end_admin_gestion_new',{gestion:'service'})}}">
							<img width="16px" height="16px"  src="{{asset('ress/img/add.png')}}">
							Nouveau
						</a>
					</div>

				</div>

				<div class="infos">
					<h3>Ajout d'un Nouveau Service </h3>
					<hr/>
					<div class="addForm">
					 	<form action="{{path('ovt_back_end_admin_gestion_new_service')}}" method="post">
					 		<table>
					 			<tbody>
					 				<tr>
					 					<td><label for="serviceName" > Nom du Service : </label>
								 		<td><input style="width:221px" type="text" name="serviceName" placeholder="service"></input></td> <br/>
								 	</tr>
								 	<tr>
								 		<td><label for="description" > Description : </label></td>
								 		<td><textarea name="description" rows="4" cols="25" > ..... </textarea></td>
									</tr>
									
								</tbody>
							</table>
							<input style="float:right; margin-right:200px" type="submit" class="submitButtton" value="Ajouter"> 
							</input>
							
						</form>
					</div>

				</div>
			</div>


		</div>
	

	{% endblock %} 