<div class="container_list_contact_program_now subtitle_color_border_08" style="  max-height: 100%; min-height: 100%;">
	{% for s in services %}
	<div class="container_contact_program_now_style select_check_{{s.id}}"  ng-click="actionClick({{s.id}})" id="service_infos_{{s.id}}" >
		<div class="container_pp_contact_program_now_style" style="background-image: url({{asset('svg/default_pp.svg')}})"> 
		</div>
		<div class="container_info_contact_program_now">
			<div class="name_contact_program_now  ">{{s.name}}</div>
			<div class="role_contact_program_now subtitle_color_text" style="overflow:hidden">
				 {{s.description}}
			</div>
		</div>
		<div class="container_check_contact_program_now_new " id="select_check_{{s.id}}">
			<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="11" height="8" viewBox="0 0 22 17">
				<use xlink:href="{{asset('svg/done_green_2.svg')}}#done_green_2"></use>
			</svg>
		</div>
	</div>								
	{% endfor %}
</div>