{% extends "OVTBackEndAdminBundle:SuperAdmin:profil.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}

		<div id="cadre" ng-app="OVTApp" ng-controller="clientCtrl">
			<div id="gestion_title">
				<p  >Gestion des entreprises
			</div>
			<div id="inside_cadre">
				<div class="list">
					<div class="list_border">
						<div class="entete">
							<label for="tri"> Trier Par : </label>
							<select name="choix_tri" > 
							</select>
						</div>
						<br/>

						<div class="user_list">
							{{render(controller('OVTBackEndAdminBundle:OrganisationAdmin:getOrganisationsByType',{type:'client',action:'reload'}))}}
						</div>
					</div>

					<div class="new_user"  >
						<a href="{{path('ovt_back_end_admin_gestion_new',{gestion:'client'})}}">
							<img width="16px" height="16px"  src="{{asset('ress/img/add.png')}}">
							Nouveau
						</a>
					</div>

				</div>

				<div class="infos">
					<div class="user_infos">
						<div class="user_infos_border" style="float:left">
							<img src="{{asset('ress/img/loader.gif')}}" ng-show="loading" id="loader">
							<div  ng-hide="loading  " id="clientInfo" >
								<div ng-show="angular.isDefined(selectedClient)">

								</div>
								{% verbatim %}
								<div>
									<h5> Nom  : </h5>
									<p>{{selectedClient.name}}</p>
								</div>

								<div>
									<h5> Adresse : </h5>
									<p>{{selectedClient.address}}</p>
								</div>
								<div>
									<h5> Téléphone : </h5>
									<p>{{selectedClient.phoneNumber}}</p>
								</div>
								<div>
									<h5> Lien Connexion : </h5>
									<p>BASE_SERVER/client/{{selectedClient.hashLink}}/login</p>
								</div>
								<div>
									<h5> Administrateur : </h5>
									<p ng-repeat="a in selectedClient.admins" > 
										{{a.admin}} 
										<a href="#" ng-click="delAdmin(selectedClient.id,a.id)"  > X</a>

									</p>
								</div>
								{% endverbatim %}
							</div>
						</div>
						<div  ng-hide="loading">
							<input  class="submitButtton" ng-click="switchAffect()" value="Affecter Administrateur"></input>
							 <form ng-show="affectShow" method='post' action="{{path('ovt_back_end_admin_gestion_organisation_setadmin',{org:'client'})}}">
								<select name="admin">
									{{ render(controller('OVTBackEndAdminBundle:UserAdmin:listAdmins')) }}
								</select>
								<input type="hidden" name="idOrg"   value="{% verbatim %}{{selectedClient.id}}{% endverbatim %}"></input>
								<input  class="submitButtton" type="submit" value="Soumettre"></input>
							</form>
						</div>
						<br/><br/>
						<div    ng-hide="loading">
							<input ng-click="toUpdate(selectedClient.id)"  class="submitButtton" value="Modifier"></input>
						</div>
					</div>
				</div>
			</div>

			<script  >	   

				var app = angular.module('OVTApp', []);
				
				app.controller('clientCtrl', function($scope,$http,$location,$window) {
						$scope.affectShow=false;
						$scope.loading = false;
						$scope.actionClick= function (idclient) {
						
							$scope.loading = true;
				   			{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_get_organisation_by_id', {id:idclient,organisation:'client'}); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.selectedClient=data;
							    $scope.loading = false;

						  	}).
						 	error(function(data, status, headers, config) { });
				   		}

				   		$scope.switchAffect = function (){
				   			$scope.affectShow=!($scope.affectShow);
				   		}

				   		$scope.delAdmin= function (idorg,idadmin) {
							$scope.loading = true;
				   			{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_client_deleteadmin', {idOrg:idorg,idAdmin:idadmin}); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.loading = false;
						  	}).
						 	error(function(data, status, headers, config) { });
				   		}
						$scope.toUpdate= function (idorg) {
							{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_client_update', {idOrg:idorg}); {% endverbatim %}
							$window.location.href=link;
				   		}
				   	});

			</script>

		</div>
	

	{% endblock %} 