{% extends "::baseProfil.html.twig" %}
 
	{% block header %}
		
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
		{{parent()}} 
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" />  
		<script src="{{asset('ress/js/angular.js')}}" > </script>
		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script> 
		<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>

	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_4 header_tab" style="display: block;">
			<div class="title_tab title_tab_4">	Gestion des entreprises prestataires </div>
		</div> 	
	{% endblock %}
 
	{% block menu %}
		{% include "OVTBackEndAdminBundle:SuperAdmin:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %} 
		<div id="wrap" class="container_tab_1 container_tab " ng-app="OVTApp"  ng-controller="providerCtrl" data-ng-init="init()" > 

			<div class="container_position_tab_1">
				<div class="bar_middle_tab_X" style="left:40%"></div> 

				<div class="container_left_tab_1 container_in_tab_1" style="width:40%">
					<div style="float:left;width:30%;margin-left:34px" class="new_onglet_tab inverse " ng-click="reverseOnglet(true,$event)">
						Actives
					</div>
					<div style="float:left;width:30%  " class="new_onglet_tab " ng-click="reverseOnglet(false,$event)"> 
						Archivées
					</div>
					<div class="container_date_time_program_now" style="margin-top:40px; height:90%">
						<div class="container_add_contact_program_now" style="height:80%;  margin-top:0;">
							<div class="container_input_search_contact_program_now" style="z-index: 1;">
								<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="16" height="16"viewBox="0 0 483 483">-->
									<use xlink:href="{{asset('svg/search.svg#search')}}"></use>
								</svg>
								<input type="text" class="container_search_contact_program_now theme_color_focus" placeholder="Recherche un prestataire...">
							</div>
							<div ng-show="enableOrg">
								{{render(controller('OVTBackEndAdminBundle:OrganisationAdmin:getEnabledOrgsByType',{type:'provider',action:'reload'}))}}
							</div>
							<div ng-show="!enableOrg" style="max-height:100%; min-height: 100%;">
								{{render(controller('OVTBackEndAdminBundle:OrganisationAdmin:getDisabledOrgsByType',{type:'provider',action:'reload'}))}}
							</div>
							<div class="container_valid_cancel_program_now">
								<div style="width:30%;color:#FFF;margin:auto;  margin-top: 20px" class="button_tab_4 theme_color_background"ng-click="newOrg()" ng-bind="newText"> </div>
							</div>
						</div>
					</div>
				</div>

				<div class="container_right_tab_1 container_in_tab_1" style="width:60%" ng-show="isSelectedProvider()">
					<div class="container_info_contact_tab_provider" style="margin:auto;">
						 {% verbatim %}
						<div style="height:30%">
							<fieldset>
								<legend>Informations générales</legend>
								<div class="column_1_tab_4 column_tab_provider_style" >
							 		
									<div class="container_info_editable_user_style2">
										<div class="content_info_editable_user_style edit subtitle_color_text" contenteditable="true" id="nameDiv"> {{selectedProvider.name}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Nom</div>
									</div>
									<div class="container_info_editable_user_style2">
										<div class="content_info_editable_user_style edit subtitle_color_text" contenteditable="true" id="addressDiv">{{selectedProvider.address}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Adresse</div>
									</div>   
								</div> 

								<div class="column_2_tab_4 column_tab_provider_style" > 
									
									<div class="container_info_editable_user_style2">
										<div class="content_info_editable_user_style edit subtitle_color_text" contenteditable="true" id="phoneNumberDiv">{{selectedProvider.phoneNumber}}</div>
										<div class="name_info_editable_user_style subtitle_color_text" >Mobile</div>
									</div>   
									<div class="container_info_editable_user_style2">
										<div class="content_info_editable_user_style edit subtitle_color_text" contenteditable="true" id="emailDiv">{{selectedProvider.email}}</div>
										<div class="name_info_editable_user_style subtitle_color_text" >Email</div>
									</div>    
									
								</div>
							</fieldset>
						</div> 
						<div style="height:20%">
							<fieldset>
								<legend>Administrateurs <span  id="plusAdmin" style="float:right" 
									ng-click="newOrgAdmin()"> [+] </span></legend>
								<div class="content">
									<div class="adminstyle " ng-repeat="a in selectedProvider.admins track by $index" > 
										<span ng-click="showAdmin($index)" class="showAdmin subtitle_color_text">{{a.admin}}  </span>
										<a href="#" ng-click="delAdmin(selectedProvider.id,a.id)"  > [-] </a>
 									</div>  
								</div>
							</fieldset>
						</div>
						{% endverbatim %} 

						<div style="height:30%">
							<fieldset>
								<legend>Services Proposés </legend>   
								<div id="servicesChoice"  ></div> 
							</fieldset>
						</div>
						
						<div class="bottom_bar"></div>

						<div style="width:80%;  margin:auto;   margin-top: 50px;" ng-hide="passwordChange">
							<form method="post" action="{{path('ovt_back_end_admin_gestion_organisation_update_post', {org:'provider'})}}" id="updateForm" style="display:none"   >
								<input type="text" name="name" 					id="nameKForm" ></input>  
								<input type="text" name="address"  				id="addressKForm"></input>
								<input type="text" 	name="phoneNumber" 			id="phoneNumberKForm"></input>	
								<input type="text" 	name="email" 				id="emailKForm"></input>	 
								<input type="hidden" name="orgId" 			ng-value="selectedProvider.id"></input>  
								<input type="submit" />
							</form>

							<div ng-show="enableOrg" class="button_tab_4 theme_color_background"  style="margin: 0;float:left;width:20%;color: #FFF" ng-click="deleteOrg(selectedProvider.id)"   > 
								Archiver
							</div> 
							<div ng-hide="enableOrg"class="button_tab_4 theme_color_background"  style="margin: 0;float:left;width:20%;color: #FFF" ng-click="restoreOrg(selectedP.id)"   >
							 	Restaurer 
							</div> 
							<div style="margin: 0;float:left;width:20%;margin-left:20% ;color: #FFF" class="button_save_tab_4 button_tab_4 theme_color_background" id="formSubmit"> Enregistrer
								<div class="container_done_save_tab_4">
									<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="15" height="12" viewBox="0 0 22 17">
										<use xlink:href="{{asset('svg/done_white.svg#done_white')}}"></use>
									</svg>
								</div>
							</div> 
							<div style="width:20%;margin-left:80%;color: #FFF;" class="button_tab_4 theme_color_background" ng-click="quit()" >
								Quitter
							</div>

 
						</div> 
 
 
						
					</div>	
				</div>  
				<div id="modalsPopUp">	
					<div class="modal hide modal-static fade"   id="waitingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-body">
					                <div class="text-center"> 
										<img src="{{asset('img/loader.gif')}}" class="icon" /> 
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
	
					<div id="addOrgModal"  class="modal hide fade"  > 
						<div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
					                <h4  class="modal-title"> Ajout d'une entreprise prestataire</h4>
					            </div>  

					            {% include 'OVTBackEndAdminBundle:provider:addNew.html.twig' %}
					        </div>
					    </div> 
					</div>
					<div id="addOrgAdminModal"  class="modal hide fade"  > 
						<div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
					                <h4  class="modal-title"> Ajout d'un nouveau administrateur prestataire</h4>
					            </div> 

					            {% include 'OVTBackEndAdminBundle:user:addProviderNew.html.twig' %}
					        </div>
					    </div> 
					</div> 
					<div id="noMoreAdminsModal"  class="modal hide fade"  > 
						<div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
					                <h4  class="modal-title">Attention</h4>
					            </div>  
					            Cet entreprise a atteint le nombre maximun d'Administrateurs
					        </div>
					    </div> 
					</div> 
					<div id="adminModal" class="modal hide fade adminClass"  >
					    {% verbatim %}
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
					                <h4 id="modalTitle" class="modal-title"> </h4>
					            </div>
					            <div id="modalBody" class="modal-body adminClass_body">
					            	<div class="column_1_tab_4 column_tab_provider_style" style="width:45%" > 
										<div class="container_info_editable_user_style2">
											<div class="content_info_editable_user_style title_color_text" id="nameDiv"> {{adminToShow.lastName}} </div>
											<div class="name_info_editable_user_style subtitle_color_text">Nom</div>
										</div>
										<div class="container_info_editable_user_style2">
											<div class="content_info_editable_user_style title_color_text" id="phoneNumberDiv">{{adminToShow.email}}</div>
											<div class="name_info_editable_user_style subtitle_color_text" >Email</div>
										</div>
										<div class="container_info_editable_user_style2">
											<div class="content_info_editable_user_style title_color_text" id="addressDiv">{{adminToShow.address}}</div>
											<div class="name_info_editable_user_style subtitle_color_text">Adresse</div>
										</div>   
									</div>  
									<div class="column_2_tab_4 column_tab_provider_style" style="width:45%;float:right" >   
										<div class="container_info_editable_user_style2">
											<div class="content_info_editable_user_style title_color_text" id="addressDiv">{{adminToShow.firstName}}</div>
											<div class="name_info_editable_user_style subtitle_color_text">Prénom</div>
										</div>   
										<div class="container_info_editable_user_style2">
											<div class="content_info_editable_user_style title_color_text" id="emailDiv">{{adminToShow.phoneNumber}}</div>
											<div class="name_info_editable_user_style subtitle_color_text" >Téléphone</div>
										</div>     
									</div> 
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
					            </div>
					        </div>
					    </div>
					    {% endverbatim %}
					</div>
				</div>

			</div>
			<input type="hidden" id="defaultClick" value="{{defaultClick}}"/>

		</div> 

		<script type="text/javascript">
			defaultClick=$("#defaultClick").val();
			$('#formSubmit').click(function(){
				$('#nameKForm').val($('#nameDiv').text());  
				$('#addressKForm').val($('#addressDiv').text());
				$('#phoneNumberKForm').val($('#phoneNumberDiv').text()); 
				$('#emailKForm').val($('#emailDiv').text()); 
				$('#updateForm').submit();
			});  

			$('#addNewAdminFormButton').click(function(){
				if($("#passwordInput").val()!=$("#passwordConfirm").val()){
					alert('Les mots de passe ne correspondent pas');
					return false;
				}
				else{  
					$('#addNewAdminForm').submit(); 
				}
			});

			$('#addNewOrgFormButton').click(function(){
				$('#addNewOrgForm').submit();
			});
				 

			function toggleService(a,b){
				var scope =  angular.element(document.getElementById("wrap")).scope();
				scope.toggleService(a,b);
			}

			/* --------- SEPARATOR ------------  */

			var app = angular.module('OVTApp', []); 
			app.controller('providerCtrl', function($scope,$http,$location,$window) { 
				$scope.init = function (){
					$scope.enableOrg=true; 
					$scope.affectShow=false;
					$scope.passwordChange=false;
					$scope.loading = false;  
					$scope.firstload=true;
					$scope.modifyText="Modifier";
					$scope.newText="Nouveau Prestataire";
					$scope.modifyFlag=false; 
					$scope.newFlag=false;  
					$scope.selectedAdmin=0;
					$('#selectAdmin').prop('disabled',true);
					$scope.isModifications = false ;
					editables = $(".content_info_editable_user_style");
					for (var i =0 ; i< editables.length; i++){
						editables[i].addEventListener("DOMSubtreeModified", $scope.listener, false); 
					} 
					if(defaultClick!=undefined && defaultClick!=""){
						$scope.actionClick(defaultClick);
					} 
				} 

				$scope.isSelectedProvider = function(){
					return angular.isDefined($scope.selectedProvider);
				}

				$scope.listener= function(evt) {
					$scope.isModifications = true;
					console.log(evt);
				}

				$scope.reverseOnglet = function (val,$event){
		   			$scope.enableOrg = val ;
		   			var elt=$event.target;
		   			$(".new_onglet_tab").removeClass('inverse');
		   			$(elt).addClass('inverse');
		   			console.log($(elt));
		   		}
				  
				$scope.actionClick= function (idprovider) { 
					$scope.firstload=false;
					$('#selectAdmin').prop('disabled', false);
					$scope.loading = true; $("#waitingModal").modal('show');
					{% verbatim %} 
						var link=Routing.generate('ovt_back_end_admin_gestion_get_organisation_by_id', {id:idprovider,organisation:'provider'}); 
					{% endverbatim %}
		   			$http.get(link).
				  	success(function(data, status, headers, config) {
					    $scope.selectedProvider=data;
					    $scope.loading = false; $('#waitingModal').modal('hide');
						$('.container_contact_program_now_style').removeClass('activate'); 
					    $('.select_check_'+idprovider).addClass('activate'); 
					    $scope.loadServiceTab($scope.selectedProvider.id);
					    $scope.isModifications = false;
				  	}). 
				 	error(function(data, status, headers, config) { });

		   		}

		   		$scope.quit = function(){
					if(!$scope.isModifications){
						$scope.selectedProvider=undefined;
						$('.container_contact_program_now_style').removeClass('activate');
					}else{
						var confirmation = confirm("Voulez vous quitter sans enrégistrer les modifications ?");
						if(confirmation){
				   			 $scope.isModifications = false; 
				   			 $scope.quit();
						} 
					}
				}
 				
		   		$scope.loadServiceTab = function(idorg) { 
					{% verbatim %}
		   				var link3=Routing.generate('ovt_back_end_admin_org_services_choice',{idOrg:idorg});  
		   			{% endverbatim %} 
		   			
		   			$http.get(link3).
				  	success(function(data, status, headers, config) { 
					    $('#servicesChoice').html(data); 
					    $scope.loading = false; $('#waitingModal').modal('hide');
				  	}).
				 	error(function(data, status, headers, config) { }); 
				}
				
				$scope.toggleService = function (idservice,idorg) { 
	   			 	{% verbatim %}
		   				var link3=Routing.generate('ovt_back_end_admin_org_service_toggle',{idService:idservice, idOrg:idorg});  
		   			{% endverbatim %} 
		   			$http.get(link3).
				  	success(function(data, status, headers, config) {
					    //alert(data);
				  	}).
				 	error(function(data, status, headers, config) { });
				 	 $scope.loading = true; $('#waitingModal').modal('show');
				 	$scope.loadServiceTab(idorg);$scope.loadServiceTab(idorg);
				 	
		   		}

		   		////////////////////////////////////////////////////
		   		$scope.delAdmin= function (idorg,idadmin) {
					$scope.loading = true; $('#waitingModal').modal('show');
		   			{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_organisation_deleteadmin', {idOrg:idorg,idAdmin:idadmin,org:'provider'}); {% endverbatim %}
		   			var confirmation = confirm("Voulez enlever les droits administrateurs ?");
					if(confirmation){
			   			$http.get(link).
					  	success(function(data, status, headers, config) {
						    $scope.loading = false;  
						    $scope.actionClick (idorg);
					  	}).
					 	error(function(data, status, headers, config) {
 
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					 	});
					}else{
						$scope.loading = false; $('#waitingModal').modal('hide');
					} 
		   		} 

		   		$scope.setAdmin = function(selectedProvider,selectedAdmin){ 
		   			{% verbatim %}
		   				var link=Routing.generate('ovt_back_end_admin_gestion_organisation_setadmin',{org:'provider'});
		   			{% endverbatim %}
					$scope.loading = true; $('#waitingModal').modal('show');
					var confirmation = confirm("Voulez confirmer cette affectation ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "admin="+selectedAdmin+"&orgId="+selectedProvider.id,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {  
					  		$scope.actionClick (idorg);
					  	}).
					  	error(function(data, status, headers, config) { 
					    		$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}  

		   		}

		   		$scope.deleteOrg= function (idorg) {
					{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_organisation_delete', { org:'provider'}); {% endverbatim %}
					$scope.loading = true; $("#waitingModal").modal('show');
					var confirmation = confirm("Voulez vraiment supprimer cette organisation ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link , 
						    data: "idOrg="+idorg,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) { 
					     	$window.location.href=$window.location.href; 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Suppression échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});					  	
					} else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		} 
				 
				$scope.restoreOrg= function (idorg) {
					{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_organisation_restore', { org:'provider'}); {% endverbatim %}
					$scope.loading = true; $("#waitingModal").modal('show');
					var confirmation = confirm("Voulez vraiment restaurer cette organisation ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link , 
						    data: "idOrg="+idorg,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) { 
					     	$window.location.href=$window.location.href; 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("restauration échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});					  	
					} else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		} 

		   		$scope.newOrg = function( ){
			   		$('#addOrgModal').modal('show'); 
		   		}	

		   		$scope.newOrgAdmin = function( ){ 
			   		if($scope.selectedProvider.admins.length<2){
			   			$('#addOrgAdminModal').modal('show');
			   		}else{
			   			$('#noMoreAdminsModal').modal('show');
			   			return false;
			   		} 
		   		}

		   		$scope.showAdmin = function(id){
		   			$scope.adminToShow = $scope.selectedProvider.admins[id];
		   			$('#adminModal').modal('show'); 
		   		}
			});
			function toActivate(id){
				$('.tab_bar_left').removeClass('activate theme_color_border');
				$('.tab_bar_left_'+id).addClass('activate theme_color_border');
			}
			toActivate(2);
		</script>

		 

	{% endblock %} 