{% extends "::baseProfil.html.twig" %}
 
	{% block header %}
		
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
		{{parent()}} 
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" />   

		<script src="{{asset('ress/js/angular.js')}}" > </script>
		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

		<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>

	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_4 header_tab" style="display: block;">
			<div class="title_tab title_tab_4">	Gestion des Services </div>
		</div> 	
	{% endblock %}
	
	{% block menu %}
		{% include "OVTBackEndAdminBundle:SuperAdmin:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %} 
		<div id="wrap" class="container_tab_1 container_tab " ng-app="OVTApp" ng-controller="ServiceCtrl" data-ng-init="init()" > 

			<div class="container_position_tab_1">
				<div class="bar_middle_tab_1" style="left:40%"></div> 

				<div class="container_left_tab_1 container_in_tab_1" style="width:40%">
					<div class="container_date_time_program_now" style="margin-top:0px; height:80%">
						<div class="container_add_contact_program_now" style="height:100%">
							<div class="container_input_search_contact_program_now">
								<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="16" height="16" viewBox="0 0 32 33">
									<use xlink:href="{{asset('svg/add_contact.svg#add_contact')}}"></use>
								</svg>
								<input type="text" class="container_search_contact_program_now theme_color_focus" placeholder="Recherche un service.">
							</div>
							{{render(controller('OVTBackEndAdminBundle:ServiceAdmin:getAllServices'))}} 
							<div class="container_valid_cancel_program_now">
								<div class="SessionTabbuttons theme_color_background"ng-click="new()"ng-bind="newText"> </div>
							</div>
						</div>
					</div>
				</div>

				<div class="container_right_tab_1 container_in_tab_1" style="width:60%" ng-show="isSelectedService()">
					<div class="container_info_contact_tab_4" style="margin:auto;">
						<div class="column_1_tab_4 column_tab_4_style" ng-hide="passwordChange">
					 		{% verbatim %}
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="descriptionDiv">{{selectedService.description}}</div>
								<div class="name_info_editable_user_style subtitle_color_text"> Description</div>
							</div> 
						</div> 
						<div class="column_2_tab_4 column_tab_4_style" ng-hide="passwordChange">
							<div class="container_info_editable_user_style">
								<div class="content_info_editable_user_style title_color_text" id="nameDiv" >{{selectedService.name}}</div>
								<div class="name_info_editable_user_style subtitle_color_text">Nom</div> 
							</div> 
							{% endverbatim %} 
						</div>

						<div style="width:80%; margin:auto;" ng-hide="passwordChange">
							<form method="post" action="{{path('ovt_back_end_admin_admin_update_service')}}" id="updateForm" style="display:none"   >
								<input type="text" name="name" 				id="nameKForm" ></input>
								<textarea type="text" name="description" id="descriptionKForm"></textarea>
								<input type="hidden" name="serviceID" 	ng-value="selectedService.id"></input>
								<input type="submit" />
							</form>
							<div class="button_save_tab_4 button_tab_4 theme_color_background" id="formSubmit"  
								style="float:left;width:20%; margin:auto">Enregistrer
								<div class="container_done_save_tab_4">
									<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="15" height="12" viewBox="0 0 22 17">
										<use xlink:href="{{asset('svg/done_white.svg#done_white')}}"></use>
									</svg>
								</div>
							</div> 
							<div style="float:left;width:20%;margin-left:20%" class="button_edit_tab_4 button_tab_4 theme_color_text theme_color_border">Editer</div>
							<div class="button_tab_4 theme_color_background"  style="width:20%;margin-left:80%;color: #FFF;" ng-click="toDelete(selectedService.id)"  >    				Supprimer 
							</div>
						</div>  
						
					</div>	
				</div>
 
				
				<div id="modalsPopUp">	
					<div class="modal hide modal-static fade"   id="waitingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-body">
					                <div class="text-center"> 
										<img src="{{asset('img/loader.gif')}}" class="icon" /> 
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
	
					<div id="addServiceModal"  class="modal hide fade"  > 
						<div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
					                <h4  class="modal-title"> Ajout d'un nouveau service</h4>
					            </div>  
					            <form action="{{path('ovt_back_end_admin_gestion_new_service')}}" method="post" id="addNewForm">
							 		<div class="container_data_style">
										<div class="text_data_style   subtitle_color_text">
											<label for="serviceName" > Nom du Service : </label>
										</div>
									 	<input  type="text" class="input_data" name="serviceName" placeholder="service">
									</div>
									<div class="container_data_style">
										<div class="text_data_style   subtitle_color_text">
											<label for="description" > Description : </label>
										</div>
									 	<textarea name="description" class="input_data"  rows="4" cols="25" > ..... </textarea>
									</div>  
									<input type="submit" style="display:none">  
								</form>
								<div id="addNewFormButton"class="SessionTabbuttons  theme_color_background">Ajouter</div> 
					        </div>
					    </div> 
					</div>
					 
				</div>

			</div>


		</div>
 	
 		<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script> 

		<script type="text/javascript">
		
			$('#formSubmit').click(function(){
				$('#waitingModal').modal('show');
				$('#nameKForm').val($('#nameDiv').text());
				$('#descriptionKForm').val($('#descriptionDiv').text());
				$('#updateForm').submit();
			});  
			$('#addNewFormButton').click(function(){
				$('#addNewForm').submit();
			});

			/* --------- SEPARATOR ------------  */

			var app = angular.module('OVTApp', []); 
			app.controller('ServiceCtrl', function($scope,$http,$location,$window) {
				$scope.init = function (){  
					$scope.firstload=true;
					$scope.modifyText="Modifier";
					$scope.newText="Nouveau";
					$scope.modifyFlag=false;
					$scope.planingFlag=false;
					$scope.newFlag=false; 
				}

				$scope.isSelectedService = function(){
					return angular.isDefined($scope.selectedService);
				}

 				$scope.actionClick= function (idService) {
					//var idService=5;
					$scope.loading = true; $('#waitingModal').modal('show');
					$scope.firstload=false;
		   			{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_get_service_by_id', {id:idService}); {% endverbatim %}
		   			$http.get(link).
				  	success(function(data, status, headers, config) { 
					    $scope.selectedService=data; 
					    $scope.loading = false; $('#waitingModal').modal('hide');
					    $('.container_check_contact_program_now_new').removeClass('active');
					    $('#select_check_'+idService).addClass('active');
				    
				 	}).
				  	error(function(data, status, headers, config) { 

				 	});
				} 

		   		$scope.toDelete = function(idservice){
		   			{% verbatim %}
		   				var link=Routing.generate('ovt_back_end_admin_delete_service_by_id');
		   			{% endverbatim %} 
					var confirmation = confirm("Voulez vraiment SUPPRIMER ce service ?");
					if(confirmation){
						$scope.loading = true; $("#waitingModal").modal('show');
						$http({
						    method: 'POST',
						    url: link,
						    data: "id="+idservice,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) {
					  		alert("Suppression menée avec succès ! ");
					     	$window.location.href=$window.location.href; 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Suppression échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		$scope.toUpdate= function(){
		   			$scope.planingFlag =false;
		   			$scope.modifyFlag=true;  
		   			$scope.passwordChange=false; 
		   		}
  
		   		$scope.new = function(idworker){
			   		$('#addServiceModal').modal('show'); 
		   		} 
			});
		</script>

		 

	{% endblock %} 