{% extends "OVTBackEndAdminBundle:SuperAdmin:profil.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" />
	<link rel="stylesheet" href="{{asset('ress/css/agenda.css')}}" />
	<link rel='stylesheet' href="{{asset('ress/css/jquery-ui.min.css')}}" />
	<link rel='stylesheet' href="{{asset('ress/css/fullcalendar.css')}}"  />
	<link rel='stylesheet' href="{{asset('ress/css/fullcalendar.print.css')}}" media='print' />
	
	<script src="{{asset('ress/js/moment.min.js')}}">	</script>
	<script src="{{asset('ress/js/jquery.min.js')}}">	</script>
	<script src="{{asset('ress/js/fullcalendar.js')}}">	</script>
	<script src="{{asset('ress/js/lang-all.js')}}">		</script>
	<script src="{{asset('ress/js//fr.js')}}">			</script>
	<script src="{{asset('ress/js/gcal.js')}}">			</script>


	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
	{% block container %}

		<div id="cadre" ng-app="OVTApp" ng-controller="userCtrl">
			<div id="gestion_title">
				<p  >Gestion des utilisateur
			</div>
			<div id="inside_cadre">
				<div class="list">
					<div class="list_border">
						<div class="entete">
							<label for="tri"> Trier Par : </label>
							<select name="choix_tri" >
								<option value="organisation"> 	Entreprise 	</option>
								<option value="name"> 			Nom 		</option>
								<option value="role">			Role 		</option>
							</select>
						</div>
						<br/>

						<div class="user_list">
							{{render(controller('OVTBackEndAdminBundle:UserAdmin:getAllUsers'))}}
						</div>
					</div>

					<div class="new_user"  >
						<a href="{{path('ovt_back_end_admin_gestion_new',{gestion:'user'})}}">
							<img width="16px" height="16px"  src="{{asset('ress/img/add.png')}}">
							Nouveau
						</a>
					</div>

				</div>

				<div class="infos">
					<div class="user_infos">
						<div class="user_infos_border">
						</div>
					</div>
					
					<hr/>
					
					<div class="planning">
						<script src="{{asset('ress/js/calendarScript.js')}}"></script>
	
						<div id="box" class="contain"  style="height:100%">
							<div id='calendar'></div>
							<div id="legende" style="height:20px;padding-bottom:-2px; background-color: #f6f6f6;">
								<div  id="styl" >
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
				
				<script type="text/javascript">
 					var app = angular.module('OVTApp', []);
 					app.controller('userCtrl', function($scope,$http,$location,$window) {
						$scope.affectShow=false;
						$scope.loading = false;
						$scope.actionClick= function (iduser) {
						
							$scope.loading = true;
				   			{% verbatim %} var link=Routing.generate('ovt_back_end_admin_gestion_get_user_by_id', {id:iduser,organisation:'provider'}); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.selectedProvider=data;
							    $scope.loading = false;

						  	}).
						 	error(function(data, status, headers, config) { });
				   		}
				   	});

				</script>  

		</div>
	

	{% endblock %} 