{% extends "OVTFrontEndProviderBundle:ProviderAdmin:index.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}

		<div class="cadre"   >
			<div class="gestion_title">
				<p  >Ajout d'un  employé prestataire 
				 </p>
				
			</div>
			<div id="inside_cadre">
				<div class="list">
					<div class="list_border">
						<div class="entete">
							<label for="tri"> Trier Par : </label>
							<select name="choix_tri" > 
							</select>
						</div>
						<br/>
						
						<div class="user_list" >
							 <div>
								<ul class="listservices">
								{% for s in workers %}
									<div class="listserviceli" ng-click="actionClick({{s.id}})">
										<li >{{s.firstname ~" "~s.lastname}}</li>
										<input 	type="hidden" value="{{s.id}}" ></input>
									</div>	
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="new_user"  >
						<a href="{{path('ovt_front_end_admin_provider_new_worker')}}">
							<img width="16px" height="16px"  src="{{asset('ress/img/add.png')}}">
							Nouveau 
						</a>
					</div>

				</div>

				<div class="infos">
					<h3>Ajout d'un Nouveau Utilisateur</h3>
					<hr/>
					<h5  style="color:red"> {% if error is defined %} {{error}} {% endif %}</h5>
					<div class="addForm"> 
						<form action="{{path('ovt_front_end_admin_provider_new_worker')}}" method="post">
					 		<table>
					 			<tbody>
					 				<tr>
					 					<td><label for="lastName" > Nom </label>
								 		<td><input style="width:221px" type="text" name="lastName" placeholder="nom"></input></td> <br/>
								 	</tr>
								 	<tr>
					 					<td><label for="firstName" > Prénom </label>
								 		<td><input style="width:221px" type="text" name="firstName" placeholder="Prénom"></input></td> <br/>
								 	</tr>
								 	<tr>
					 					<td><label for="email" > Email : </label>
								 		<td><input style="width:221px" type="text" name="email" placeholder="email"></input></td> <br/>
								 	</tr>
								 	<tr>
					 					<td><label for="address" > Adresse : </label>
								 		<td><input style="width:221px" type="text" name="address" placeholder="adresse"></input></td> <br/>
								 	</tr>
								 	<tr>
					 					<td><label for="phoneNumber" >Numéro de téléphone : </label>
								 		<td><input style="width:221px" type="text" name="phoneNumber" placeholder="Numéro de téléphone"></input></td> <br/>
								 	</tr>
									<tr>
					 					<td><label for="role" > Type </label>
					 						
								 		<td>
								 			<select style="width:221px" type="text" name="role"  >
												<option value="ROLE_WORKER" selected> Employé Prestataire</option>
								 			</select>
								 		</td> 
								 	</tr>
								 	<tr>
					 					<td><label for="language" > Langue </label>
					 						
								 		<td>
								 			<select style="width:221px" type="text" name="language"  >
												<option value="fr" selected> Français</option>
								 				<option value="en" selected> Anglais</option>
								 			</select>
								 		</td>  
								 	</tr> 
								 	<tr>
					 					<td><label for="group" > Group </label>
					 		
								 		<td>
								 			<select style="width:221px" type="text" name="group"  >
												 {{render(controller('OVTFrontEndProviderBundle:ProviderAdmin:renderProviderGroups'))}}
								 			</select>
								 		</td>  
								 	</tr>
								 	<tr>
					 					<td><label for="password" > Mot de passe : </label>
								 		<td><input style="width:221px" type="password" name="password" placeholder="password"></input></td> <br/>
								 	</tr>
								 	<tr>
					 					<td><label for="confirmPassword" >Confirmer Mot de passe : </label>
								 		<td><input style="width:221px" type="password" name="confirmPassword" placeholder="Resaisir mot de passe ici"></input></td> <br/>
								 	</tr>
								 	</tr>
								</tbody>
							</table>
							<input type="hidden" name="userType" value="worker"></input>
							<input style="float:right; margin-right:200px" type="submit" class="submitButtton" value="Ajouter"> 
							</input>
							
						</form>
					</div>

				</div>

			</div>
 			
 			<script type="text/javascript">
 			</script>

		</div>

	{% endblock %} 