{% extends "OVTFrontEndProviderBundle:ProviderAdmin:index.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}

		<div class="cadre"  ng-app="OVTApp" ng-controller="sessionCtrl" data-ng-init="init()" >  
			<div class="gestion_title">
				<p  >Affectation des demandes
				 </p>
				
			</div>
			<div id="inside_cadre">
				<div class="list">
					<div class="list_border">
						<div class="entete">
							<label for="tri"> Trier Par : </label>
							<select name="choix_tri" > 
							</select>
						</div>
						<br/>
						
						<div class="user_list" >
							{{render(controller('OVTFrontEndProviderBundle:ProviderAdmin:getSessionsToAffect'))}}
						</div>
					</div>

				</div>
				<div class="infos">
					<div class="buttonTabs"  >
						<div >
							<input ng-click="toUpdate()"  class="submitButtton" ng-value="modifyText"></input>
						</div>
						<div >
							<input ng-click="cancel(session.id)"  class="submitButtton" value="Annuler"></input>
						</div>
						<div >
							<input ng-click="refuse(session.id)"  class="submitButtton" value="Refuser"></input>
						</div>
						<div >
							<input ng-click="endSession(session.id)"  class="submitButtton" value="Terminer la Session"></input>
						</div>
						<!--<div >
							<input ng-click="newSession()"  class="submitButtton" value="Nouvelle Session"></input>
						</div>-->

						
					</div>
					
					<div class="user_infos">
						<div class="user_infos_border" style="float:left">
							<img src="{{asset('ress/img/loader.gif')}}" ng-show="loading" id="loader">
							<div  ng-hide="loading  " id="clientInfo" >
								<div ng-hide="firstload || modifyFlag">

									{% verbatim %}
										<h5> Nom du client : {{session.client}}</h5>
										<h5> Intitulé : {{session.title}} </h5>
										<h5> Contexte : {{session.type}}</h5>
										<h5> Date de la demande : {{session.requestDate}}</h5>
										<h5> Heure de début : {{session.startTime}} </h5>
										<h5> Heure de fin : {{session.endTime}}</h5>
										<h5> Description : {{session.desciption}}</h5>
										<h5> Service : {{session.service}}</h5>
										<h5> Etat : {{session.state}}</h5>
										<br/>
										<h5> Velotypeur : {{session.worker}}</h5>
									{% endverbatim %}
								</div>

								<div ng-show="modifyFlag">
									<form action="{{path('ovt_front_end_admin_provider_update_session')}}" method="post">
										{% verbatim %}
								 		<table>
								 			<tbody>
								 				<tr>
								 					<td><label for="title" > Intitulé </label>
											 		<td><input style="width:150px" type="text" name="title" value="{{session.title}}"></input></td> <br/>
											 	</tr>
											 	<tr>
								 					<td><label for="type" > Type </label>
											 		<td><input style="width:150px" type="text" name="type" value="{{session.type}}" disabled></input></td> <br/>
											 	</tr>
											 	<tr>
								 					<td><label for="description" > Description </label>
											 		<td><textarea style="width:150px" type="text" name="description" >{{sessin.description}}</textarea></td> <br/>
											 	</tr>
											 	<tr>
								 					<td><label for="startTime" > Date de Début </label>
											 		<td><input style="width:150px" type="datetime" name="startTime" value="{{session.startTime}}"></input></td> <br/>
											 	</tr>
											 	<tr>
								 					<td><label for="endTime" > Date de Fin </label>
											 		<td><input style="width:150px" type="datetime" name="endTime" value="{{session.endTime}}"></input></td> <br/>
											 	</tr>
											 	<tr>
								 					<td><label for="service" > Service</label>
											 		<td><input style="width:150px" type="text" name="service" ng-value="session.service" disabled></input></td> <br/>
											 	</tr>
												
											</tbody>
										</table>
										<input type="hidden" name="sessionID" ng-value="session.id"></input>
										<input style="float:right; margin-right:200px" type="submit" class="submitButtton" value="Modifier"> 
										</input>
										{% endverbatim %}
									</form>
								</div>

								 
							</div>
						</div>
					</div>
					<div  ng-show="!firstload && !loading" style="float:left; margin-top:50px">
							<input ng-click="affectTo(session.id,selectedWorker)"  class="submitButtton" value="Affecter à"></input>
							<select name="worker" ng-model="selectedWorker" >
								{{ render(controller('OVTFrontEndProviderBundle:ProviderAdmin:renderWorkersSelection',{workers:workers}))}}
							</select>
					</div>

				</div>
 			
 			<script  >	   

				var app = angular.module('OVTApp', []);
				
				app.controller('sessionCtrl', function($scope,$http,$location,$window) {
						$scope.init = function (){
							$scope.affectShow=false;
							$scope.loading = false;
							$scope.firstload=true;
							$scope.modifyText="Modifier";
							$scope.modifyFlag=false;
							$scope.actionClick(3);
						}
						
						$scope.actionClick= function (idsession) {
							$scope.firstload=false;
							$scope.loading = true;
				   			{% verbatim %} var link=Routing.generate('ovt_front_end_admin_provider_get_session_by_id', {id:idsession}); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.session=data;
							    $scope.loading = false;

						  	}).
						 	error(function(data, status, headers, config) { });
				   		}

				   		$scope.switchAffect = function (){
				   			$scope.affectShow=!($scope.affectShow);
				   		}
				   		
				   		$scope.cancel = function(idsession){
				   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'cancel'});
				   			{% endverbatim %}
							$scope.loading = true;
							var confirmation = confirm("Voulez vraiment annuler cette réunion ?");
							if(confirmation){
								$http({
								    method: 'POST',
								    url: link,
								    data: "idSession="+idsession,
								    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
								}).
								success(function(data, status, headers, config) {
							  		alert("Annulation menée avec succès ! ");
							     	$window.location.href=Routing.generate('ovt_front_end_admin_provider_set_sessions'); 
							  	}).
							  	error(function(data, status, headers, config) {
							    	alert("Annulation échouée !"+data);
							    	$scope.loading = false;
							  	});
							  	
							}else {
								$scope.loading = false;
							}
				   		}

				   		$scope.refuse = function(idsession){
				   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'refuse'});
				   			{% endverbatim %}
							$scope.loading = true;
							var confirmation = confirm("Voulez vraiment refuser cette réunion ?");
							if(confirmation){
								$http({
								    method: 'POST',
								    url: link,
								    data: "idSession="+idsession,
								    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
								}).
								success(function(data, status, headers, config) {
							  		alert("Refus mené avec succès ! ");
							     	$window.location.href=Routing.generate('ovt_front_end_admin_provider_set_sessions'); 
							  	}).
							  	error(function(data, status, headers, config) {
							    	alert("Refus échoué !"+data);
							    	$scope.loading = false;
							  	});
							  	
							}else {
								$scope.loading = false;
							}
				   		}

				   		$scope.endSession = function(idsession){
				   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_action_session',{action:'terminate'});
				   			{% endverbatim %}
							$scope.loading = true;
							var confirmation = confirm("Voulez vraiment terminer cette réunion ?");
							if(confirmation){
								$http({
								    method: 'POST',
								    url: link,
								    data: "idSession="+idsession,
								    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
								}).
								success(function(data, status, headers, config) {
							  		alert("Finition menée avec succès ! ");
							     	$window.location.href=Routing.generate('ovt_front_end_admin_provider_set_sessions'); 
							  	}).
							  	error(function(data, status, headers, config) {
							    	alert("Finition échouée !"+data);
							    	$scope.loading = false;
							  	});
							  	
							}else {
								$scope.loading = false;
							}
				   		}

				   		$scope.toUpdate= function(){
				   			$scope.modifyFlag=!$scope.modifyFlag;
				   			$scope.modifyText=$scope.modifyFlag?"Retour":"Modifier";;
				   		}

				   		$scope.affectTo = function(idsession,selectedWorker){
				   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_set_worker_to_session');
				   			{% endverbatim %}
							$scope.loading = true;
							var confirmation = confirm("Voulez confirmer cette affectation ?");
							if(confirmation){
								$http({
								    method: 'POST',
								    url: link,
								    data: "sID="+idsession+"&wID="+selectedWorker,
								    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
								}).
								success(function(data, status, headers, config) {
							  		alert("Affectation menée avec succès ! ");
							     	$window.location.href=Routing.generate('ovt_front_end_admin_provider_set_sessions'); 
							  	}).
							  	error(function(data, status, headers, config) {
							    	alert("Affectation échouée !"+data);
							    	$scope.loading = false;
							  	});
							  	
							}else {
								$scope.loading = false;
							} 
 
				   		}

				   		$scope.new= function(idworker){
				   			$scope.newFlag=!$scope.newFlag;
				   			$scope.newText=$scope.newFlag?"Retour":"Nouveau";
				   			if($scope.modifyFlag) $scope.toUpdate();
				   		}



				   	});

			</script>

		</div>

	{% endblock %} 