<a href="{{path('ovt_front_end_provider_calendar')}}" >
 	<div class="tab_bar_left tab_bar_left_1  subtitle_color_fill">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events"width="40" height="30" viewBox="0 0 47 52">
			<use xlink:href="{{asset('svg/logo_4.svg')}}#logo_4"></use>
		</svg>
	</div>
</a>

<a href="{{path('ovt_front_end_provider_my_sessions')}}" >
	<div class="tab_bar_left tab_bar_left_2 subtitle_color_fill">
		<span style="z-index:100;float:right">
			({{render(controller('OVTFrontEndProviderBundle:ProviderAdmin:getPlanifiedSessions'))}})
		</span>
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="40" height="30" viewBox="0 0 40 30">
			<use xlink:href="{{asset('svg/session_list.svg')}}#list"></use>
		</svg>
	</div>
</a> 

<a  href="{{path('ovt_front_end_provider_profile')}}"  > 
	<div class="tab_bar_left tab_bar_left_3 subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="24" height="27" viewBox="0 0 48 54">
			<use xlink:href="{{asset('svg/logo_5.svg')}}#logo_5"></use>
		</svg>
	</div>
</a> 

<a  href="{{path('ovt_front_end_admin_provider_set_sessions')}}"  > 
	<span style="z-index:100;float:right">
		({{render(controller('OVTFrontEndProviderBundle:ProviderAdmin:getCountSessionsToAffect'))}})
	</span>
	<div class="tab_bar_left tab_bar_left_4 subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="40" height="30"viewBox="0 0 445.371 445.371">
			<use xlink:href="{{asset('svg/session.svg')}}#session"></use>
		</svg>
	</div>
</a>

<a  href="{{path('ovt_front_end_admin_provider_worker')}}"  > 
	<div class="tab_bar_left tab_bar_left_5 subtitle_color_fill ">
		<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="40" height="30" viewBox="0 0 40 30">
			<use xlink:href="{{asset('svg/manage_clients.svg')}}#clients"></use>
		</svg>
	</div>
</a>
 