{% extends "OVTFrontEndProviderBundle:ProviderAdmin:index.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}

		<div class="cadre"  ng-app="OVTApp" ng-controller="userCtrl"  >
			<div class="gestion_title">
				<p>Gestion des employés prestataires  </p>
			</div>
			<div id="inside_cadre">
				<div class="list">
					<div class="list_border">
						<div class="entete">
							<label for="tri"> Trier Par : </label>
							<select name="choix_tri" > 
							</select>
						</div>
						<br/>
						
						<div class="user_list" >
							 <div>
								<ul class="listservices">
								{% for s in workers %}
									<div class="listserviceli" ng-click="actionClick({{s.id}})">
										<li >{{s.firstname ~" "~s.lastname}}</li>
										<input 	type="hidden" value="{{s.id}}" ></input>
									</div>	
								{% endfor %}
								</ul>
							</div>
						</div>

					</div>

					<div class="new_user"  >
						<a href="{{path('ovt_front_end_admin_provider_new_worker')}}">
							<img width="16px" height="16px"  src="{{asset('ress/img/add.png')}}">
							Nouveau 
						</a>
					</div>

				</div> <!-- end list -->
				<div class="infos">
					<div class="buttonTabs"  >
						<div >
							<input ng-click="toUpdate()"  class="submitButtton" ng-value="modifyText"></input>
						</div>
						<div >
							<input ng-click="delete(workerSelected.id)"  class="submitButtton" value="Supprimer"></input>
						</div>
						<div >
							<select ng-change="setGroup(workerSelected.id)" ng-model="selectedGroup" class="submitButtton" >
								{{ render(controller('OVTFrontEndProviderBundle:ProviderAdmin:renderProviderGroups'))}}
							</select>
						</div>
						<div >
							<input ng-click="new()"  class="submitButtton" value="Nouveau"></input>
						</div>
						
					</div>
						<div class="user_infos">
							<div class="user_infos_border" style="float:left">
								<img src="{{asset('ress/img/loader.gif')}}" ng-show="loading" id="loader">
								<div  ng-hide="loading  " id="clientInfo" >
									<div ng-hide="firstload || modifyFlag">
										{% verbatim %}
											<h5> Nom : {{workerSelected.user.lastname}}</h5>
											<h5> Prénom : {{workerSelected.user.firstname}} </h5>
											<h5> Email : {{workerSelected.user.email}}</h5>
											<h5> Adresse : {{workerSelected.user.address}}</h5>
											<h5> Numéro de Téléphone : {{workerSelected.user.phoneNumber}} </h5>
											<h5> Langue : {{workerSelected.langue}} </h5>
											<h5> Groupe : {{workerSelected.group}} </h5>
										{% endverbatim %}
									</div>

									<div ng-show="modifyFlag">
										<form action="{{path('ovt_front_end_admin_provider_update_worker')}}" method="post">
											{% verbatim %}
									 		<table>
									 			<tbody>
									 				<tr>
									 					<td><label for="title" > Intitulé </label>
												 		<td><input style="width:150px" type="text" name="title" value="{{session.title}}"></input></td> <br/>
												 	</tr>
												 	<tr>
									 					<td><label for="type" > Type </label>
												 		<td><input style="width:150px" type="text" name="type" value="{{session.type}}" disabled></input></td> <br/>
												 	</tr>
												 	<tr>
									 					<td><label for="description" > Description </label>
												 		<td><textarea style="width:150px" type="text" name="description" >{{sessin.description}}</textarea></td> <br/>
												 	</tr>
												 	<tr>
									 					<td><label for="startTime" > Date de Début </label>
												 		<td><input style="width:150px" type="datetime" name="startTime" value="{{session.startTime}}"></input></td> <br/>
												 	</tr>
												 	<tr>
									 					<td><label for="endTime" > Date de Fin </label>
												 		<td><input style="width:150px" type="datetime" name="endTime" value="{{session.endTime}}"></input></td> <br/>
												 	</tr>
												 	<tr>
									 					<td><label for="service" > Service</label>
												 		<td><input style="width:150px" type="text" name="service" ng-value="session.service" disabled></input></td> <br/>
												 	</tr>
													
												</tbody>
											</table>
											<input type="hidden" name="sessionID" ng-value="session.id"></input>
											<input style="float:right; margin-right:200px" type="submit" class="submitButtton" value="Modifier"> 
											</input>
											{% endverbatim %}
										</form>
									</div>
								</div>
							</div>
						</div> <!-- end user infos -->
					</div> <!-- end   infos -->

			</div>
 			
 			<script type="text/javascript">
 				var app = angular.module('OVTApp', []);
				
				app.controller('userCtrl', function($scope,$http,$location,$window) {
						$scope.affectShow=false;
						$scope.loading = false;
						$scope.firstload=true;
						$scope.modifyText="Modifier";
						$scope.modifyFlag=false;

						$scope.actionClick= function (idworker) {
							$scope.modifyFlag=false;
				   			$scope.modifyText="Modifier";
							$scope.firstload=false;
							$scope.loading = true;
				   			{% verbatim %} 
				   				var link=Routing.generate('ovt_front_end_admin_provider_get_worker_by_id', {id:idworker}); {% endverbatim %}
				   			$http.get(link).
						  	success(function(data, status, headers, config) {
							    $scope.workerSelected=data;
							    $scope.loading = false;

						  	}).
						 	error(function(data, status, headers, config) { });

				   		}

				   		$scope.toUpdate= function(){
				   			$scope.modifyFlag=!$scope.modifyFlag;
				   			$scope.modifyText=$scope.modifyFlag?"Retour":"Modifier";
				   		}

				   		$scope.setGroup= function(idworker){
				   			alert("ok");
				   		}
				   		$scope.new= function(idworker){
				   			$window.location.href=Routing.generate('ovt_front_end_admin_provider_new_worker');
				   		}	
				});
 			</script>

		</div>

	{% endblock %} 