{% extends "::baseProfil.html.twig" %}
 
	{% block header %}
		
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
		{{parent()}}
		{{parent()}}
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 

		<link rel="stylesheet" href="{{asset('ress/css/fullcalendar.css')}}" />  
		<link rel="stylesheet" href="{{asset('ress/css/calendar.css')}}" /> 
		<link rel='stylesheet' href="{{asset('ress/css/fullcalendar.print.css')}}"media='print' /> 

		<script src="{{asset('ress/js/angular.js')}}" > </script>
		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

		<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>

	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_4 header_tab" style="display: block;">
			<div class="title_tab title_tab_4">	Gestion des utilisateurs </div>
		</div> 	
	{% endblock %}
	
	{% block menu %}
		{% include "OVTFrontEndProviderBundle:ProviderAdmin:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %} 
		<div id="wrap" class="container_tab_1 container_tab " ng-app="OVTApp" ng-controller="userCtrl" data-ng-init="init()" > 
			<div class="container_position_tab_1">
				<div class="bar_middle_tab_1" style="left:40%"></div> 

				<div class="container_left_tab_1 container_in_tab_1" style="width:40%">
					<div class="container_date_time_program_now" style="margin-top:0px; height:80%">
						<div class="container_add_contact_program_now" style="height:100%">
							<div class="container_input_search_contact_program_now">
								<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="16" height="16" viewBox="0 0 32 33">
									<use xlink:href="{{asset('svg/add_contact.svg#add_contact')}}"></use>
								</svg>
								<input type="text" class="container_search_contact_program_now theme_color_focus" placeholder="Recherche un utilisateur.">
							</div>
							<div class="container_list_contact_program_now subtitle_color_border_08" style="  max-height: 100%; min-height: 100%;">
								{% for s in workers %}
								<div class="container_contact_program_now_style"  ng-click="actionClick({{s.id}})" id="user_infos_{{s.id}}" >
									<div class="container_pp_contact_program_now_style" style="background-image: url({{asset('svg/default_pp.svg')}})"> 
									</div>
									<div class="container_info_contact_program_now">
										<div class="name_contact_program_now title_color_text">{{s.firstname ~" "~s.lastname}}</div>
										<div class="role_contact_program_now subtitle_color_text">
											 
										</div>
									</div>
									<div class="container_check_contact_program_now_new " id="select_check_{{s.id}}">
										<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="11" height="8" viewBox="0 0 22 17">
											<use xlink:href="{{asset('svg/done_green_2.svg')}}#done_green_2"></use>
										</svg>
									</div>
								</div>								
								{% endfor %}
							</div>

							<div class="container_valid_cancel_program_now">
								<div class="SessionTabbuttons theme_color_background"ng-click="new()"ng-bind="newText"> </div>
							</div>
						</div>
					</div>
				</div>

				<div class="container_right_tab_1 container_in_tab_1" style="width:60%"  >
					<div class="container_info_contact_tab_provider" style="margin:auto;">
						<div  ng-show="planingFlag" id="clientCalendar" style="margin-bottom: 30px;"></div>
						<div style="height:50%; margin-bottom:200px;" ng-hide="planingFlag || passwordChange">
							<fieldset>
								{% verbatim %}
								<legend>Informations générales</legend>
								<div class="column_1_tab_4 column_tab_4_style" ng-hide="passwordChange" style="width: 48%;"> 
									<div class="container_info_editable_user_style">
										<div class="content_info_editable_user_style title_color_text" id="lastnameDiv"> {{workerSelected.user.lastname}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Nom</div>
									</div>
									<div class="container_info_editable_user_style">
										<div class="content_info_editable_user_style title_color_text" id="firstnameDiv">{{workerSelected.user.firstname}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Prénom</div>
									</div>
									<div class="container_info_editable_user_style">
										<div class="content_info_noneditable_user_style title_color_text">{{workerSelected.user.type}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Role</div>
									</div>
									<div class="container_info_editable_user_style">
										<div class="content_info_editable_user_style title_color_text" id="phoneNumberDiv">{{workerSelected.user.phoneNumber}}</div>
										<div class="name_info_editable_user_style subtitle_color_text" >Mobile</div>
									</div> 
									<div class="container_info_editable_user_style">
										<div class="content_info_editable_user_style title_color_text" id="addressDiv">{{workerSelected.user.address}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Adresse</div>
									</div>
								</div> 
								<div class="column_2_tab_4 column_tab_4_style" ng-hide="passwordChange">
									<div class="container_info_editable_user_style">
										<div class="content_info_editable_user_style title_color_text" id="emailDiv" >{{workerSelected.user.email}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Email</div> 
									</div> 
									<div class="container_info_editable_user_style">
										<div class="content_info_editable_user_style title_color_text" id="langueDiv" >{{workerSelected.langue}}</div>
										<div class="name_info_editable_user_style subtitle_color_text">Langue</div> 
									</div>  
									<div class="container_info_editable_user_style">
										<div class="content_info_noneditable_user_style title_color_text">***************</div>
										<div class="name_info_editable_user_style subtitle_color_text">Mot de passe</div>
										<div class=" change_passworK_style theme_color_text" style="position:relative"
											  ng-click="passwordChange=!passwordChange" >Changer de mot de passe</div>
									</div>  
								</div> 
							{% endverbatim %}
							</fieldset>
						</div> 
						

						<div style="width:80%; margin:auto;" ng-hide="passwordChange">
							<form method="post" action="{{path('ovt_front_end_admin_provider_update_worker')}}" id="updateForm" style="display:none"   >
								<input type="text" name="lastName" 				id="lastnameKForm" ></input>
								<input type="text" name="firstName" 			id="firstnameKForm"></input>
								<input type="text" name="email" 				id="emailKForm"></input>
								<input type="text" name="address"  				id="addressKForm"></input>
								<input type="text" 	name="phoneNumber" 			id="phoneNumberKForm"></input>		
								<input type="text" 	name="language"  			id="langueKForm" ></input>
								<input type="text"  name="equipments" 			id="equipementsKForm"></input>
								<input type="hidden" name="workerID" 			ng-value="workerSelected.id"></input>
								<input type="hidden" name="userType" id="userTypeKForm" value="worker"></input> 
								<input type="hidden" name="role"   value="ROLE_WORKER"></input>
								<input type="submit" />
							</form>
							<div  style="float:left;width:18%; margin:0;color: #FFF;" class="button_tab_4 theme_color_background ">Modifier</div>
							<div class="button_save_tab_4 button_tab_4 theme_color_background" id="formSubmit"  style="float:left;width:18%; margin:0;margin-left:9%">Enregistrer
								<div class="container_done_save_tab_4">
									<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="15" height="12" viewBox="0 0 22 17">
										<use xlink:href="{{asset('svg/done_white.svg#done_white')}}"></use>
									</svg>
								</div>
							</div>

							<div  style="float:left;width:18%; margin:0;margin-left:9%" class="  button_tab_4 theme_color_text theme_color_border" ng-click="seePlaning(workerSelected.id)" ng-bind="planingText">	
							</div> 
							<div class="button_tab_4 theme_color_background"  style="float:left;width:18%;margin:0;margin-left:9%;color: #FFF;" ng-click="toDelete(workerSelected.id)"> 
								Supprimer 
							</div> 
						</div> 


						<div class="container_change_password" style="display:block" ng-show="passwordChange" >
							<form method="post" action="{{path('ovt_user_password_update')}}" onsubmit="return fetchPassword()" id="updatePasswordForm" >
								<div class="title_new_data title_color_text">Nouveau mot de passe</div> 
								<div class="container_data_style">
									<div class="text_data_style new_password subtitle_color_text">Nouveau mot de passe</div>	
									<input type="password" name="newPassword" id="newPassword" class="input_data">
								</div>
								<div class="container_data_style">
									<div class="text_data_style confirm_new_password subtitle_color_text">
										Retapez mot de passe</div>	
									<input type="password" name="newPassword2" id="newPassword2" class="input_data">
								</div>
								<input type="hidden" name="userId" ng-value="workerSelected.user.id"></input>	
							</form>
							<div class="container_save_new_data">
								<div class=" button_save_new_data_New save_new_password theme_color_background" id="formPasswordSubmit">Modifier
									<div class="container_check_valid_data">
										<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="15" height="12" viewBox="0 0 22 17">
											<use xlink:href="{{asset('svg/done_white.svg#done_white')}}"></use>
										</svg>
									</div>
								</div>
								<div class=" change_passworK_style title_color_text" ng-click="passwordChange=!passwordChange">Annuler</div>
							</div>
						</div>
						
					</div>	
				</div>
 

				
				<div id="modalsPopUp">	
					<div class="modal hide modal-static fade"   id="waitingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-body">
					                <div class="text-center"> 
										<img src="{{asset('img/loader.gif')}}" class="icon" /> 
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
	
					<div id="addClientModal"  class="modal hide fade"  > 
						<div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">Fermer</span></button>
					                <h4  class="modal-title"> Ajout d'un nouvel employé prestataire</h4>
					            </div> 
					            {% include 'OVTFrontEndProviderBundle:ProviderAdmin:addWorker2.html.twig' %}
					        </div>
					    </div> 
					</div>
					<div id="fullCalModal" class="modal hide fade"  >
					    {% verbatim %}
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
					                <h4 id="modalTitle" class="modal-title"> </h4>
					            </div>
					            <div id="modalBody" class="modal-body">
								<h5> Nom du client : <span id="nomClient"></span></h5>
									<h5  style="float:right"> Description : 
										<textarea class="modal-body" disabled id="sessionDesc"></textarea></h5>
									<h5 > Contexte : <span id="contexteSession"></span></h5>
									<h5> Date de la demande : <span id="dateDemandeSession"></span> </h5>
									<h5> Heure de début :  <span type="date"  id="debutSession"></span></h5>
									<h5> Heure de fin : <span id="finSession"></span></h5>
									<h5> Service :  <span id="serviceSession"></span></h5>
									<br/>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
					            </div>
					        </div>
					    </div>
					    {% endverbatim %}
					</div>
				</div>

			</div>


		</div>
 	
 		<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
		<script src="{{asset('ress/js/fullcalendar.js')}}" > </script>   
		<script src="{{asset('ress/js/fr.js')}}" > </script>

		<script type="text/javascript">
		
			$('#formSubmit').click(function(){
				$('#lastnameKForm').val($('#lastnameDiv').text());
				$('#firstnameKForm').val($('#firstnameDiv').text());
				$('#emailKForm').val($('#emailDiv').text());
				$('#addressKForm').val($('#addressDiv').text());
				$('#phoneNumberKForm').val($('#phoneNumberDiv').text());
				$('#langueKForm').val($('#langueDiv').text());
				$('#equipementsKForm').val($('#equipementsDiv').text());  
				$('#updateForm').submit();
			});
				function fetchPassword(){ 
				if($("#newPassword").val()!=$("#newPassword2").val()){
					alert('Les mots de passe ne correspondent pas');
					return false;
				}
				else{ 
					return true;
				}
			}
			$('#formPasswordSubmit').click(function(){
				$('#updatePasswordForm').submit();
			});
			$('#addNewWorkerFormButton').click(function(){
				if($("#newWorkerPassword").val()!=$("#newWorkerPasswordRe").val()){
					alert('Les mots de passe ne correspondent pas');
					return false;
				}
				else{  
					$('#addNewWorkerForm').submit(); 
				}
			});

			function toggleService(a,b){
				var scope =  angular.element(document.getElementById("wrap")).scope();
				scope.toggleService(a,b);
			}

			/* --------- SEPARATOR ------------  */

			var app = angular.module('OVTApp', []);
			var linkToCallEvents;
			app.controller('userCtrl', function($scope,$http,$location,$window) {
				$scope.init = function (){
					$scope.affectShow=false;
					$scope.passwordChange=false;
					$scope.loading = true; $("#waitingModal").modal('show');
					$scope.firstload=true;
					$scope.modifyText="Modifier";
					$scope.newText="Nouveau";
					$scope.planingText="Voir Planing" ;
					$scope.modifyFlag=false;
					$scope.planingFlag=false;
					$scope.newFlag=false;
					//$scope.actionClick(28);
					linkToCallEvents = Routing.generate('ovt_front_end_provider_retrieve_affected_sessions_to_worker_by_user',{idUser:28});
					$scope.callCal();
				}

				$scope.callCal= function(link){
					$('#clientCalendar').fullCalendar( {
						events:  linkToCallEvents ,
						header: {
							left: 'today',
							center: 'prev, title, next'
						},
						businessHours:{
							start: '08:00', 
							end: '19:00',
							dow: [ 0, 1, 2, 3, 4, 5, 6 ]
						},
						buttonIcons:{
							'today':'today',
							'prev':'prev',
							'next':'next'
						},
						defaultView: 'agendaWeek',
						scrollTime: '07:00:00',
						selectable: true, 
						eventLimit: true, 
					
						eventClick:  function(event, jsEvent, view) {
				            $('#modalTitle').html(event.title);
				            $('#sessionDesc').html(event.description);
				            $('#nomClient').html(event.client);
				            $('#fullCalModal').modal();
				            $('#contexteSession').html(event.type);
				            $('#dateDemandeSession').html(event.requestDate);
				        	$('#debutSession').html(event.startTime)  ;
				        	$('#finSession').html(event.endTime);
				        	$('#serviceSession').html(event.service); 
				        },
						 
						select : function( start, end, jsEvent, view ) {
							 
						},
						loading: function(bool) {
				            if (bool) {
				                $('#waitingModal').modal('show');

				            } else {
				                $('#waitingModal').modal('hide');
				            }
				        } 

					});  
				}

				$scope.reCallCal = function(newLink){
					console.log('in recall \n');
					$('#clientCalendar').fullCalendar('removeEventSource', linkToCallEvents);
				    $('#clientCalendar').fullCalendar('refetchEvents');
				    $('#clientCalendar').fullCalendar('addEventSource', newLink);
				    $('#clientCalendar').fullCalendar('refetchEvents');
				    linkToCallEvents = newLink ;
				    console.log('done');
				}


				$scope.actionClick= function (idworker) {
					if($scope.modifyFlag) $scope.toUpdate();
		   			if($scope.newFlag) $scope.new();
		   			if($scope.planingFlag)$scope.planingFlag =false;
					$scope.firstload=false;
					$scope.loading = true; $("#waitingModal").modal('show');
		   			{% verbatim %} 
		   				var link=Routing.generate('ovt_front_end_admin_provider_get_worker_by_id', {id:idworker}); {% endverbatim %}
		   			$http.get(link).
				  	success(function(data, status, headers, config) {
					    $scope.workerSelected=data;
					    $scope.loading = false; $('#waitingModal').modal('hide');
					    $('.container_check_contact_program_now_new').removeClass('active');
					    $('#select_check_'+idworker).addClass('active');

				  	}).
				 	error(function(data, status, headers, config) { });

				 	{% verbatim %}
		   			var linkx=Routing.generate('ovt_front_end_provider_retrieve_affected_sessions_to_worker_by_user',{idUser:idworker}); 
		   				//console.log(linkx);

		   			{% endverbatim %} 
		   			$scope.reCallCal(linkx); 

		   		}

		   		$scope.toDelete = function(idworker){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_delete_worker_by_id');
		   			{% endverbatim %}
					$scope.loading = true; $("#waitingModal").modal('show');
					var confirmation = confirm("Voulez vraiment SUPPRIMER cet utilisateur ?"+idworker);
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idWorker="+idworker,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) { 
					     	$window.location.href=Routing.generate('ovt_front_end_admin_provider_worker'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Suppression échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		$scope.toUpdate= function(){
		   			$scope.planingFlag =false;
		   			$scope.modifyFlag=true;  
		   			$scope.passwordChange=false; 
		   		}

		   		$scope.setGroup= function(idworker){
		   			{% verbatim %}var link=Routing.generate('ovt_front_end_admin_provider_set_worker_group');
		   			{% endverbatim %}
					$scope.loading = true; $("#waitingModal").modal('show');
					var confirmation = confirm("Voulez vous affecter ce groupe à cet utilisateur ?");
					if(confirmation){
						$http({
						    method: 'POST',
						    url: link,
						    data: "idWorker="+idworker+"&idGroup="+$scope.selectedGroup.id,
						    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
						}).
						success(function(data, status, headers, config) { 
					     	$window.location.href=Routing.generate('ovt_front_end_admin_provider_worker'); 
					  	}).
					  	error(function(data, status, headers, config) {
					    	alert("Affectation échouée !"+data);
					    	$scope.loading = false; $('#waitingModal').modal('hide');
					  	});
					  	
					}else {
						$scope.loading = false; $('#waitingModal').modal('hide');
					}
		   		}

		   		/*$scope.seePlaning= function(idworker){
	   				if($scope.modifyFlag) $scope.toUpdate();
	   				if($scope.newFlag) $scope.new();
					{% verbatim %}
		   				var link=Routing.generate('ovt_front_end_admin_provider_worker_calendar',{idWorker:idworker,coreCalendar:1});
		   			{% endverbatim %}
					$scope.loading = true; $("#waitingModal").modal('show');
					$http({
					    method: 'POST',
					    url: link,
					    data: "idWorker="+idworker,
					    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
					}).
					success(function(data, status, headers, config) {
				  		$scope.loading = false; $('#waitingModal').modal('hide');
				     	$('#workerCalendar').html(data);
				     	$scope.planingFlag=true;
				  	}).
				  	error(function(data, status, headers, config) {
				    	$scope.loading = false; $('#waitingModal').modal('hide');
				  	});		
	   									 
		   		}
*/
		   		$scope.seePlaning= function(idclient){
		   			if ($scope.planingFlag) {
		   				$scope.planingFlag=false; 
		   				$scope.planingText="Voir Planing";
		   			}else{
		   				$scope.modifyFlag=false;
		   				$scope.newFlag=false;
		   				$scope.planingFlag=true;
		   				$scope.planingText="Retour";
		   			}
		   		}
		   		
		   		$scope.new = function(idworker){
			   		$('#addClientModal').modal('show'); 
		   		}	
		   		
		   		/*$scope.new= function(idworker){
		   			$scope.newFlag=!$scope.newFlag;
		   			$scope.newText=$scope.newFlag?"Retour":"Nouveau";
		   			if($scope.modifyFlag) $scope.toUpdate();
		   			if($scope.planingFlag)$scope.planingFlag =false;
		   		}	*/
			});
		</script>

		 

	{% endblock %} 