{% block links %}
	<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
	<link rel="stylesheet" href="{{asset('ress/css/fullcalendar.css')}}" />  
	<link rel="stylesheet" href="{{asset('ress/css/calendar.css')}}" /> 
	<link rel='stylesheet' href="{{asset('ress/css/fullcalendar.print.css')}}"media='print' />
	
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
	<script src="{{asset('ress/js/fullcalendar.js')}}" > </script>
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/bootstrap.js')}}" > </script>
	<script src="{{asset('ress/js/fr.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}

				<div id='calendar'></div>
				<div  id="bootstrapModalFullCalendar" ></div>
				<div id="fullCalModal" class="modal fade">
				    {% verbatim %}
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
				                <h4 id="modalTitle" class="modal-title"> </h4>
				            </div>
				            <div id="modalBody" class="modal-body">
							<h5> Nom du client : <span id="nomClient"></span></h5>
								<h5  style="float:right"> Description : 
									<textarea class="modal-body" disabled id="sessionDesc"></textarea></h5>
								<h5 > Contexte : <span id="contexteSession"></span></h5>
								<h5> Date de la demande : <span id="dateDemandeSession"></span> </h5>
								<h5> Heure de début :  <span type="date"  id="debutSession"></span></h5>
								<h5> Heure de fin : <span id="finSession"></span></h5>
								<h5> Service :  <span id="serviceSession"></span></h5>
								<br/>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				            </div>
				        </div>
				    </div>
				    {% endverbatim %}
				</div>
				<div id="legende" style="height:20px;padding-bottom:-2px; background-color: #f6f6f6;">
					<div  id="divLegende" >		</div>
				</div>
 			
 			<script type="text/javascript">
 				 
				$(document).ready(function() {
					var id ={{idClient}};
					//{% verbatim %}
 						var link=Routing.generate('ovt_front_end_client_retrieve_client_sessions',{idClient:id}); 
 					//{% endverbatim %}
					$('#calendar').fullCalendar({
						events: link,
						header: {
							left: 'today',
							center: 'prev, title, next'
						},
						businessHours:{
							start: '08:00', // a start time (10am in this example)
							end: '19:00', // an end time (6pm in this example)
							dow: [ 0, 1, 2, 3, 4, 5, 6 ]
						},
						
						defaultView: 'agendaWeek',
						scrollTime: '07:00:00',
						/*defaultDate: '2014-12-04',*/
						selectable: true, 
						
						eventLimit: true, // allow "more" link when too many events
					
						eventClick:  function(event, jsEvent, view) {
				            //console.log(event);
				            //alert(event.start);
				            $('#modalTitle').html(event.title);
				            $('#sessionDesc').html(event.description);
				            $('#nomClient').html(event.client);
				            $('#fullCalModal').modal();
				            $('#contexteSession').html(event.type);
				            $('#dateDemandeSession').html(event.requestDate);
				        	$('#debutSession').html(event.startTime)  ;
				        	$('#finSession').html(event.endTime);
				        	$('#serviceSession').html(event.service);
				        	{% verbatim %}
				        		var toSession= Routing.generate('ovt_services_velotypie_join',{userType:'client',hashLink:event.link});
				        	{% endverbatim %}
				        	$('#joinUrl').attr('href',toSession);
				        }
						 
					}); 

				});
				


 			</script>


	{% endblock %} 