{% extends "OVTFrontEndClientBundle:Client:index.html.twig" %}
{% block links %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
	<script src="{{asset('ress/js/angular.js')}}" > </script>
	<script src="{{asset('ress/js/jquery.js')}}" > </script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}
	{% block container %}
	<div ng-app="OVTApp" ng-controller="sessionsCtrl" data-ng-init="init()" >
		<div class="cadre" id="tableDemandes" >
			<div class="gestion_title">
				<p  > Liste des Sessions terminées
				 </p>
				
			</div>
			<div id="inside_cadre">
				 
				<div id="terminatedSessions"    >
					<table class="tableSessions">
						<thead>
							<td>...</td>
							<td>Prestataire</td>
							<td>Date de la réservation</td>
							<td>Intitulé</td> 
							<td>Heure de début</td>
							<td>Heure de fin</td>
						</thead>
						<tbody>
								{{render(controller('OVTFrontEndClientBundle:Client:getSessionsByState',{state:'TERMINATED'})) }}
						</tbody>
					</table>
				</div>
			</div>

		</div>


		<div class="cadre" id="detailsDemande" >
			<div class="gestion_title">
				<p> Details de la demande </p> 
			</div>
			<div id="inside_cadre">
				<img src="{{asset('ress/img/loader.gif')}}" ng-show="loading" id="loader">
				
 				<iframe id="frame" style="width:100%;height:100%;" src=""></iframe>
 				<div id="docDiv" ng-bind="document"> 
 				</div>

				 
 
			</div>



		</div>
 			
 			

		</div>
		
	</div>
		

	<script type="text/javascript">
		var app = angular.module('OVTApp', []);
		
		app.controller('sessionsCtrl', function($scope,$http,$location,$window) {
			$scope.init = function (){
				$scope.loading = false;
				$scope.firstload=true;
				//flags
				$scope.atraiterFlag=true;
				$scope.planifieesFlag=false;
				$scope.annuleesFlag=false;
				$scope.refuseesFlag=false;
				
			}

			$scope.setSelectedSession= function(idsession){
				$scope.firstload=false;
				//$scope.loading = true;
	   			{% verbatim %} var link=Routing.generate('ovt_front_end_admin_client_get_pdf_document_by_id', {idSession:idsession}); {% endverbatim %}
	   			$("#frame").attr("src",link); 
			}

			 
		});
	</script>
	
	{% endblock %} 