{% extends "::baseProfil.html.twig" %}
 		

	{% block header %}
		{{parent()}}
		<link rel="stylesheet" href="{{asset('ress/css/bootstrap.css')}}" /> 
		<link rel="stylesheet" href="{{asset('ress/css/gestion.css')}}" /> 
		<script src="{{asset('ress/js/angular.js')}}" > </script>
		<script src="{{asset('ress/js/jquery.js')}}" > </script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<script src="{{asset('ress/js/bootstrap.min.js')}}" > </script>
	{% endblock %}

 	{% block tabTitle %} 
 		<div class="header_tab_2 header_tab" style="display: block;">
			<div class="title_tab title_tab_2">	Sessions Archivées </div>
		</div> 	
	{% endblock %}
	
	{% block menu %}
		{% include "OVTFrontEndClientBundle:Client:menuNew.html.twig" %}
	{% endblock %}
 
	{% block containerTab %} 
		<div class="container_tab_2 container_tab" style="display: block;" ng-app="OVTApp" ng-controller="sessionsCtrl" data-ng-init="init()" >
			
			<div class="container_historique" style="height:35%">
				<div class="header_container_historique title_color_text">
					<div class="element_header_container_historique element_header_container_historique_date">
						Date Demande
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position active">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
						
					</div><div class="element_header_container_historique element_header_container_historique_name">
						<span class="name_element_1"> Prestataire </span> 
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
					</div> <div class="element_header_container_historique element_header_container_historique_duree">
						<span class="name_element_1"> Intitulé </span> 
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
					</div><div class="element_header_container_historique element_header_container_historique_canal">
						<span class="name_element_1">Service</span> 
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
					</div><div class="element_header_container_historique element_header_container_historique_date">
						Debut 
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position active">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
						
					</div><div class="element_header_container_historique element_header_container_historique_date">
						Fin
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position active">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
						
					</div><div class="element_header_container_historique element_header_container_historique_commentaire">
						Description
						<div class="container_arrow_element_heade_historique">
							<div class="container_arrow_element_heade_historique_position">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="6" viewBox="0 0 12 7" class="title_color_text">
									<use xlink:href="{{asset('svg/arrow_down.svg')}}#arrow_down"></use>
								</svg>
							</div>
						</div>
					</div> 
				</div> 
				<!-- Begin list sessions -->
				<div id="terminatedSessions">
					{{render(controller('OVTFrontEndClientBundle:Client:getSessionsByState',{state:'TERMINATED'})) }}
				</div>

				
				<!-- end list sessions -->
			</div>

			<!-- SEPARATOR -->
			<div class="container_middle_historique" style="height:5%; margin-top:15px;margin-bottom:10px;">
				<div class="bar_container_middle_historique subtitle_color_background_08"></div>
				<div class="div_historique subtitle_color_text">DETAILS</div>
			</div> 

			<div class="container_info_details" style="height:55%"> 
				<iframe id="frame" style="width:100%;height:100%;" src=""></iframe>
 				<div id="docDiv" ng-bind="document"> </div>
			</div>

			<div class="modal hide modal-static fade"   id="waitingModal"  data-backdrop="static" data-keyboard="false" href="#" role="dialog" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-body">
			                <div class="text-center">
			                    <img src="{{asset('img/loader.gif')}}" class="icon" /> 
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
  
			<script type="text/javascript">
				var app = angular.module('OVTApp', []);
		 		app.controller('sessionsCtrl', function($scope,$http,$location,$window) {
					$scope.init = function (){
						$scope.loading = false;
						$scope.firstload=true;
						//flags
						$scope.atraiterFlag=true;
						$scope.planifieesFlag=false;
						$scope.annuleesFlag=false;
						$scope.refuseesFlag=false;
						
					}

					$scope.setSelectedSession= function(idsession){
						$scope.firstload=false;
						//$scope.loading = true;
			   			{% verbatim %} var link=Routing.generate('ovt_front_end_admin_client_get_pdf_document_by_id', {idSession:idsession}); {% endverbatim %}
			   			$("#frame").attr("src",link); 
					}

					 
				}); 
			</script>
		</div>

	{% endblock %}